	
	* { margin: 0; padding: 0; } 
	html { font-family: "微软雅黑"; font-size: 14px; } 
	body { min-width: 1230px; }
	body > div { max-width: 1900px; width: 1900px; margin: 0 auto; height: 300px; }
	/*bg*/
	.active-vip-bg1 { background-image: url(../images/active-vip-bg-1.jpg) }
	.active-vip-bg2 { background-image: url(../images/active-vip-bg-2.jpg) }
	.active-vip-bg3 { background-image: url(../images/active-vip-bg-3.jpg) }
	.active-vip-bg4 { background-image: url(../images/active-vip-bg-4.jpg) }
	.active-vip-bg5 { background-image: url(../images/active-vip-bg-5.jpg) }
	.active-vip-bg6 { background-image: url(../images/active-vip-bg-6.jpg) }
	.active-vip-bg7 { background-image: url(../images/active-vip-bg-7.jpg) }
	.active-vip-bg8 { background-image: url(../images/active-vip-bg-8.jpg) }
	.active-vip-bg9 { background-image: url(../images/active-vip-bg-9.jpg) }
	.active-vip-bg10 { background-image: url(../images/active-vip-bg-10.jpg) }
	.active-vip-bg11 { background-image: url(../images/active-vip-bg-11.jpg) }
	.active-vip-bg12 { background-image: url(../images/active-vip-bg-12.jpg) }
	.active-vip-bg13 { background-image: url(../images/active-vip-bg-13.jpg) }
	.active-vip-bg14 { background-image: url(../images/active-vip-bg-14.jpg) }
	.active-vip-bg15 { background-image: url(../images/active-vip-bg-15.jpg) }
	.active-vip-bg16 { background-image: url(../images/active-vip-bg-16.jpg) }
	.active-vip-bg17 { background-image: url(../images/active-vip-bg-17.jpg) }
	.active-vip-bg18 { background-image: url(../images/active-vip-bg-18.jpg) }
	.active-vip-bg19 { background-image: url(../images/active-vip-bg-19.jpg) }
	.active-vip-bg20 { background-image: url(../images/active-vip-bg-20.jpg) }
	.active-vip-bg21 { background-image: url(../images/active-vip-bg-21.jpg) }
	/*content*/
	.position-relative { position: relative; } 
	.position-absolute { position: absolute; } 
	.kj-grow-up span { left: 36%; bottom: 12%; width: 690px; line-height: 38px; font-size: 20px; color: #6a5231; }
	.kj-vip-user > span { left: 19.8%; top: 8%; width: 1154px; line-height: 78px; text-align: center; font-size: 18px; color: #676767; }
	.kj-vip-user > span span { display: inline-block; width: 100%; }
	.kj-vip-user > span span:lang(user-content) { margin-top: 54px; line-height: 30px; font-weight: bold; }
	.kj-vip-user > span a { display: inline-block; width: 225px; height: 60px; line-height: 56px; background-image: url(../images/active-vip-chaining.png); font-size: 28px; font-weight: bold; color: white; text-decoration: none; }
	.kj-vip-paraphrase > span { left: 25%; bottom: 22%; width: 992px; }
	.kj-vip-paraphrase > span h3 { margin-bottom: 10px; font-size: 24px; color: #3e3e3e; }
	.kj-vip-paraphrase > span span { line-height: 28px; font-size: 18px; color: #6f6f6f; font-weight: bold; }
	