* {
	margin: 0;
}

.hyalineBlack_bg {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
}

.theme_content {
	width: 770px;
	height: 782px;
	position: absolute;
	left: 50%;
	margin-left: -385px;
	z-index: 2;
}

.theme_content a {
	display: block;
	width: 78%;
	height: 398px;
	position: absolute;
	left: 60px;
	bottom: 41px;
	z-index: 3;
	cursor: pointer;
}

.theme_content i {
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	right: 98px;
	top: 42%;
	z-index: 4;
}

.theme-icon1 {
	position: absolute;
	left: 188px;
	top: 140px;
	z-index: 2;
}


/*css3--animate*/

.theme-icon1 {
	transform: translate(0, -2000px);
	-webkit-transform: translate(0, -2000px);
	animation: theme-icon1 1s;
	-webkit-animation: theme-icon1 1s;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.theme-icon2{
	left: 0;
	top: 0;
	z-index: 1;
	animation-delay: 1.8s;
	-webkit-animation-delay: 1.8s;
}

@-webkit-keyframes theme-icon1 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px)
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes theme-icon1 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px)
	}
	80% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px)
	}
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
}

.theme-iconBg {
	animation: theme-iconBg 1s;
	-webkit-animation: theme-iconBg 1s;
}

@-webkit-keyframes theme-iconBg {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px)
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes theme-iconBg {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px)
	}
	80% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px)
	}
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
}

.monFirst {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	animation: pulse 2s infinite linear ;
	-webkit-animation: pulse 2s infinite linear ;
}

.mon-delay1{
	animation-delay: .2s;
}

.mon-delay2{
	animation-delay: .4s;
}

.mon-delay3{
	animation-delay: .6s;
}

.mon-delay4{
	animation-delay: .8s;
}

.mon-delay5{
	animation-delay: 1s;
}

.mon-delay6{
	animation-delay: 1.2s;
}

.mon1 {
	left: 100px;
	top: 144px;
}

.mon2 {
	left: 94px;
	top: 294px;
}

.mon3 {
	left: 56px;
	top: 634px;
}

.mon4 {
	left: 174px;
	top: 790px;
}

.mon5 {
	left: 226px;
	top: 640px;
}

.mon6 {
	left: 222px;
	top: 522px;
}

.mon7 {
	left: 214px;
	top: 352px;
}

.mon8 {
	left: 308px;
	top: 192px;
}

.mon9 {
	left: 468px;
	top: 80px;
}

.mon10 {
	left: 554px;
	top: 216px;
}

.mon11 {
	left: 446px;
	top: 428px;
}

.mon12 {
	left: 492px;
	top: 548px;
}

.mon13 {
	left: 406px;
	top: 694px;
}

.mon14 {
	left: 506px;
	top: 852px;
}

.mon15 {
	left: 594px;
	top: 738px;
}

.mon16 {
	left: 626px;
	top: 358px;
}

.mon17 {
	left: 768px;
	top: 236px;
}

.mon18 {
	left: 842px;
	top: 740px;
}

.mon19 {
	left: 920px;
	top: 846px;
}

.mon20 {
	left: 1074px;
	top: 734px;
}

.mon21 {
	left: 1038px;
	top: 132px;
}

.mon22 {
	left: 1250px;
	top: 356px;
}

.mon23 {
	left: 1304px;
	top: 584px;
}

.mon24 {
	left: 1396px;
	top: 766px;
}

.mon25 {
	left: 1366px;
	top: 846px;
}

.mon26 {
	left: 1550px;
	top: 810px;
}

.mon27 {
	left: 1568px;
	top: 680px;
}

.mon28 {
	left: 1602px;
	top: 470px;
}

.mon29 {
	left: 1594px;
	top: 296px;
}

.mon30 {
	left: 1752px;
	top: 104px;
}

.mon31 {
	left: 1348px;
	top: 78px;
}

.mon32 {
	left: 1802px;
	top: 490px;
}

.mon33 {
	left: 1724px;
	top: 800px;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5)
	}
	50% {
		-webkit-transform: scale(0.6);
		transform: scale(0.6)
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5)
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5)
	}
	50% {
		-webkit-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6)
	}
	100% {
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5)
	}
}
