* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑"; 
}

body {
	background-color: #fff3d1;
}

a {
	text-decoration: none;
	color: black;
}

article,
aside,
div,
dt,
figcaption,
footer,
form,
header,
hgroup,
html,
main,
nav,
section {
	display: block;
}

ul {list-style-type: none;}

header {
	height: 1017px;
	background: #fddf59 url(../images/cashRedPack-banner.png) center/cover no-repeat;
}

footer {
	background-color: #f7a61f;
	overflow: hidden;
}

footer > div {
	text-align: center;
	margin: 42px 0;
}

footer > article {
	margin: 0 auto; 
	width: 1200px;
	background-color: #feedcf; 
	overflow: hidden;
}

/*
 * 让钱生钱，为有钱花而奋斗
 */
footer > article ul {
	margin: 106px auto 44px;
}
footer > article ul li{
	display: inline-block;
	position: relative; 
	margin: 0 17px;
	width: 262px;
	height: 174px;
	text-align: center;
	background-color: white;
	font-weight: bold;
	border-bottom: solid 6px #e0e0d6;
}

footer > article ul li i {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: -38px;
	margin-left: -47px;
	width: 79px;
	height: 94px;
	background: url(../images/cashRedPack-icon.png) left top no-repeat;
}

footer > article ul li i:lang(iconI2) {
	background-position: -79px top;
}

footer > article ul li i:lang(iconI3) {
	background-position: -158px top;	
}

footer > article ul li i:lang(iconI4) {
	background-position: -237px top;	
}

footer > article ul li span {
	display: block;
	margin-top: 72px;
	line-height: 58px;
	font-size: 18px;
	color: #323232; 
}

footer > article ul li p {
	line-height: 34px;
	font-size: 28px;
	color: white;
	background-color: #e8293a;
}

footer > article ul li p em {
	font-style: normal;
	font-size: 18px;
}

footer .activityRule {
	padding: 0 52px;
}

footer .activityRule > div h2 {
	width: 160px;
	height: 77px;
	line-height: 50px;
	background: url(../images/cashRedPack-icon.png) left -94px no-repeat;
	text-align: center;
	font-size: 30px;
	color: white;
}

footer .activityRule > div p {
	margin: 24px auto 0;
	width: 960px; 
	line-height: 26px;
	color: #ff5400;
} 

footer .activityRule > p:lang(position) {
	position: relative;
	text-align: center;
	margin: 60px 0;
}

footer .activityRule > p a {
	display: inline-block;
	width: 308px;
	height: 84px;
	line-height: 84px;
	background: linear-gradient(#83b606,#6f9c01);
	border: solid 3px #588e05;
	border-radius: 30px;
	font-size: 40px;
	color: white;
	box-shadow: 3px 5px 4px -2px #aacd09 inset;
	transition: all .5s;
}

footer .activityRule > p a:hover {
	box-shadow: 3px 5px 4px -2px #517001 inset;
}

/*
 * 靠谱理财 奖励容易双丰收 
 */
 footer > article:lang(article2) {
 	position: relative;
 	height: 2500px;
 	background: #feedcf url(../images/cashRedPack-footer3.png) center 106px no-repeat;
 }
 
 footer > article:lang(article2) > p {
 	position: absolute;
 	width: 442px;
 	height: 128px;
 	text-align: left;
 }
 
 footer > article:lang(article2) > p > strong { 
 	display: block;
 	margin-bottom: 22px;
 	font-size: 24px;
 	color: #e8293a;
 }
 
 footer > article:lang(article2) > p span { 
 	display: block;
 	font-size: 20px;
 	color: #323232;
 }
 
 footer > article:lang(article2) > p span strong { 
 	font-size: 30px;
 	color: #e8293a;
 }
 
 /*1*/
footer > article:lang(article2) p:lang(text1) {
	right: 7%;
	top: 13%;
}
 /*2*/
footer > article:lang(article2) p:lang(text2) {
	left: 30%;
	top: 33.5%;
	
}
 /*3*/
footer > article:lang(article2) p:lang(text3) {
	right: 7%;
	top: 55%;
}
 /*4*/
footer > article:lang(article2) p:lang(text4) {
	left: 27%;
	bottom: 19%;
}

footer .positionRule {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -532px;
}

footer address {
	margin: 54px auto 16px;
	font-style: normal;
	text-align: center;
	color: #ff5400;
}
