
* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 1230px;
}

div:lang(month4) {
	margin: 0 auto;
}

div:lang(month4-head) {
	width: 100%;
	height: 530px;
	
} 
div:lang(month4-head-bg-1) {
	background: url(../images/invite-firend-4month-bg-1.jpg) center no-repeat;
} 
div:lang(month4-head-bg-2) {
	background: url(../images/invite-firend-4month-bg-2.jpg) center no-repeat;
}

div:lang(month4-content) {
	width: 1200px; 
}
div:lang(month4-content-bg) {
	height: 334px;
}
div:lang(month4-content-bg-3) {
	background-image: url(../images/invite-firend-4month-bg-3.jpg);
}
div:lang(month4-content-bg-4) {
	background-image: url(../images/invite-firend-4month-bg-4.jpg);
}
div:lang(month4-content-bg-5) {
	background-image: url(../images/invite-firend-4month-bg-5.jpg);
}
div:lang(month4-content-bg-6) {
	background-image: url(../images/invite-firend-4month-bg-6.jpg);
}
div:lang(month4-content-bg-7) {
	background-image: url(../images/invite-firend-4month-bg-7.jpg);
}

.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}

/*month4-content-bg-6*/
div.month4-share > span:lang(share-left) {
	height: 146px;
	left: 7.6%;
	top: 14.5%;
	overflow: hidden; 
}

div.month4-share > span:lang(share-left) a {
	display: inline-block;
	float: left;
	margin-right: 35px;
	width: 112px;
	height: 100%;
	cursor: pointer;
} 

div.month4-share > span:lang(share-right) {
	width: 375px;
	height: 130px;
	right: 3.7%;
	bottom: 23%; 
}
div.month4-share > span:lang(share-right) p {
	max-height: 46px;
	margin: 15px;
	font-size: 18px;
	color: #909090;
	white-space: normal;
	overflow: auto;
}
div.month4-share > span:lang(share-right) span {
	display: inline-block;
	width: 112px;
	height: 38px;
	line-height: 38px;
	right: 0;
	bottom: 0;
	text-align: center;
	color: white;
	background-color: #f14c43;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

/*month4-content-bg-7*/
div.month4-active-rule > span {
	display: inline-block;
	width: 90%; 
	left: 50%;
	margin-left: -41%;
	bottom: 0;
}
div.month4-active-rule > span p {
	line-height: 39px;	
	font-size: 18px;
	color: #683702;
}

/*附言*/
div:lang(month4-ps) {
	margin-top: 160px;
	font-size: 18px;
	color: #f14c43;
	line-height: 56px;
	text-align: center;
}
