/*取消选中*/
.special_invest{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;}
body{background:#ffeec4;margin:0;}
/*专题投资--top*/
.special_top{}
/*专题投资--bottom*/
.special_bottom{height:2200px;background:center no-repeat url(../images/special-invest_bottom.png)}
.special_bottom_box{width:1200px;margin:0 auto;position:relative;height:2200px;}
.special_activity{position:absolute;left:110px;top:524px;font-size:30px;color:#ff6e11;}
.special_invest{width:100%;position:absolute;left:30px;bottom:408px;text-align:center;}
.special_invest_box{width:416px;display:inline-block;height:116px;background:#1fe3b6;border-radius:16px;cursor:pointer;transition:background 0.8s;}
.special_invest_box:hover{background:#2afccd;}
.special_invest a{display:inline-block;width:416px;height:110px;line-height:110px;background:#2afccd;font-size:46px;color:white;border-radius:16px;transition:background 0.8s;text-decoration:none;}
.special_invest a:focus{none}
.special_invest_box:hover a{background:#1fe3b6;}
.special_pour{width:1110px;position:absolute;left:70px;bottom:270px;font-size:20px;color:#ff6a0c;}
.special_pour p{margin:0;}
.special_pour .pour2{margin-left:26px;line-height:34px;}
.special_explain{width:100%;line-height:80px;border-top:solid 1px #ff6a0c;position:absolute;left:0;bottom:-208px;text-align:center;font-size:28px;color:#ff6a0c}
