/*取消选中*/
.aptitude_play,.mien_play,#about_window,.ladyScroll{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;}
/*1平台介绍*/
.introduce_box{padding:0;height:704px;background:#21bbf4;position:relative;}
/*平台介绍--公用中间盒子*/
.introduce_centre{width:1200px;padding:0;}
/*平台介绍--名称*/
.introduce_name{height:202px;text-align:center;position:relative;margin-top:1%;}

.introduce_line{width:37%;height:2px;position:absolute;bottom:25%;z-index:8}
.introduce_line i{display:block;width:100%;height:2px;position:absolute;background:#90ddfa;z-index:9;}
.introduce_line em{display:block;width:2px;height:0;position:absolute;bottom:0;background:#90ddfa;z-index:9;opacity:0}
.introduce_line span{position:absolute;z-index:10;}

.introduce_name-left{left:0;}
.introduce_name-left i{right:0;top:0;}
.introduce_name-left em{right:0;}
.introduce_name-left .clound1{width:105px;height:64px;background:center no-repeat url(../images/about-us/clound1.png);left:20%;bottom:-36px;}

.introduce_name-right{right:0;}
.introduce_name-right i{left:0;top:0;}
.introduce_name-right em{left:0;}
.introduce_name-right .clound2{width:142px;height:96px;background:center no-repeat url(../images/about-us/clound2.png);right:20%;bottom:-42px;}
.introduce_name-right .clound3{width:53px;height:28px;background:center no-repeat url(../images/about-us/clound3.png);left:-10%;top:12px;}
/*快捷简介*/
.kj_synopsis{position:relative;z-index:12;}
.synopsis_head{text-align:center;font-size:36px;color:white;font-weight:bold;line-height:24px;letter-spacing:5px;border-bottom:dashed 1px #90ddfa;margin-top:34px;}
.synopsis_head span{font-size:16px;font-weight:normal;}
.synopsis_text{padding:25px 35px;}
.synopsis_text p{margin:0;text-indent:2em;text-align:justify;font-size:16px;color:white;letter-spacing:2px;line-height:26px;}
/*轮播图*/
.synopsisi_play_box{position:relative;}
.synopsisi_play{width:76.5%;height:114px;overflow:hidden;padding:0;position:relative;}
.play_box{height:114px;background:;width:1264px;position:absolute;top:0;z-index:998}
.play_box i{float:left;display:inline-block;border-radius:3px;width:146px;height:110px;background:white;box-shadow: 5px 5px 0 #16aaec;margin-right:12px;cursor:pointer;}
.play_box i img{width:136px;height:100px;margin:5px;}

.top_arrows,.right_arrows,.down_arrows,.left_arrows{width:80px;height:80px;position:absolute;cursor:pointer;z-index:999;}
.pre7, .pre8{border-style:dashed solid dashed dashed;/*使ie6支持border透明*/width:0;height:0;/*设置容器宽高为0*/line-height:0;/*去掉ie6下默认高度，设置以下属性*/font-size:0;overflow:hidden;}
.pre3, .pre4{border-style:dashed dashed dashed solid;/*使ie6支持border透明*/width:0;height:0;/*设置容器宽高为0*/line-height:0;/*去掉ie6下默认高度，设置以下属性*/font-size:0;overflow:hidden;} 
/*左箭头*/
.left_arrows{left:2%;top:15px;}
.left_arrows .pre7{border-width:40px;border-color:transparent #fff transparent transparent;}
.left_arrows .pre8{border-width:40px;border-color:transparent #21bbf4 transparent transparent;position:relative;top:-80px;left:15px;}
/*右箭头*/
.right_arrows{right:2%;top:15px;}
.right_arrows .pre3{border-width:40px;border-color:transparent transparent transparent #fff;}
.right_arrows .pre4{border-width:40px;border-color:transparent transparent transparent #21bbf4;position:relative;top:-80px;right:15px;}
/*向下箭头*/
.down_arrows{left:50%;bottom:-52%;margin-left:-40px;}
.pre5, .pre6{border-style:solid dashed dashed dashed;/*使ie6支持border透明*/width:0;height:0;/*设置容器宽高为0*/line-height:0;/*去掉ie6下默认高度，设置以下属性*/font-size:0;overflow:hidden;position:absolute;}
.down_arrows .pre5{border-width:40px;border-color:#fff transparent transparent transparent;top:15px;left:0;}
.down_arrows .pre6{border-width:40px;border-color:#21bbf4 transparent transparent transparent;left:0;top:0;}
/*向上箭头*/
.top_arrows{left:50%;bottom:-52%;margin-left:-40px;}
.pre1, .pre2{border-style:dashed dashed solid dashed;/*使ie6支持border透明*/width:0;height:0;/*设置容器宽高为0*/line-height:0;/*去掉ie6下默认高度，设置以下属性*/font-size:0;overflow:hidden;position:absolute;}
.top_arrows .pre1{border-width:40px;border-color:transparent transparent #fff transparent;bottom:15px;left:0;}
.top_arrows .pre2{border-width:40px;border-color:transparent transparent #21bbf4 transparent;left:0;top:0;}

/*快捷财富简介--向下箭头*/
.kj_down_arrows{width:124px;height:46px;background:right -233px no-repeat url(../images/about-us/logo-us.png);position:absolute;left:50%;bottom:-42%;margin-left:-62px;cursor:pointer;z-index:9999;}
/*小火箭*/
.introduce_rocket{width:100%;position:absolute;left:0;bottom:-180px;z-index:10;}

/*logo 释义*/
.logo_us_totality{position:relative;background:#edfbff;padding-bottom:8%;}
.logo_us{margin-top:20%;}
.logo_us_box{}
.us_box_left{height:328px;background:left top no-repeat url(../images/about-us/logo-us.png);}
.us_box_right{}
.us_box_right h1{height:52px;background:-328px top no-repeat url(../images/about-us/logo-us.png);margin-bottom:30px;}
.us_box_right p{margin-bottom:30px;line-height:24px;}
.logo_us_pic{width:92%;padding:0;margin-top:20px;}
.logo_us_pic dl{overflow:hidden;}
.logo_us_pic dl dt{float:left;width:56px;height:56px;background:-336px -201px no-repeat url(../images/about-us/logo-us.png);margin:35px 26px 0;}
.logo_us_pic dl dd{float:left;width:103px;height:130px;background:-328px -56px no-repeat url(../images/about-us/logo-us.png);}
.logo_us_pic .us_pic2{background-position:-475px -56px;}
.logo_us_pic .us_pic3{height:139px;background-position:-624px -56px;}
.logo_us_pic .us_pic4{width:195px;background-position:-790px -56px;}
.logo_us_pic .us_pic5{width:145px;height:157px;background-position:-1009px -56px;}
/*logo 释义--向下箭头*/
.logo_arrows{background-position:right -279px;bottom:100px;}

/*企业文化*/ 
.enterprise_culture{position:relative;}
.culture_head{color:#3d3d3d;font-weight:normal;border-bottom-color:#d5d5d5;letter-spacing:0px;margin-bottom:152px;}
.culture_box{text-align:center;}
/* 线条--num */
.line_num{float:none;width:1px;height:802px;background:#c8c8c8;display:inline-block;margin-bottom:10px;position:relative;}
.line_num span{display:inline-block;width:30px;height:1px;background:#c8c8c8;position:absolute;left:-15px;bottom:0;}
/*1--5*/
.line_num_float{width:30px;height:1px;background:#c8c8c8;position:absolute;}

.num_content{width:490px;height:194px;position:absolute;top:-74px;}
.num_content i{float:left;width:122px;height:141px;background:no-repeat url(../images/about-us/logo-us.png);}
.num_content .trait1{background-position:left -336px;}
.num_content .trait2{background-position:left -477px;}
.num_content .trait3{background-position:left -618px;}
.num_content .trait4{background-position:left -759px;}
.num_content .trait5{background-position:left -900px;}
.culture_trait{float:right;width:340px;height:194px;text-align:justify}
.culture_trait h1{font-size:24px;color:#313131;margin-top:10px;}
.culture_trait h2{text-indent:2em;color:#535353;font-size:14px;font-weight:normal;line-height:20px;}
.culture_trait h3{font-size:20px;margin-left:24px;}
.culture_trait p{margin-left:24px;}
/*企业--线条1*/
.enterprise1{right:0;top:0px;}
.enterprise_content1{right:90px;}
/*企业--线条2*/
.enterprise2{left:0;top:160px;}
.enterprise_content2{left:90px;}
/*企业--线条3*/
.enterprise3{top:320px;}
/*企业--线条4*/
.enterprise4{top:480px;}
/*企业--线条5*/
.enterprise5{top:640px;}

/*总裁寄语*/
.send_word{padding:0 62px;}
.send_word i{display:inline-block;width:207px;height:55px;background:left bottom no-repeat url(../images/about-us/logo-us.png);margin-bottom:22px;}
.send_word p{text-align:justify;text-indent:2em;line-height:24px;}
/*白色椭圆*/
.oval_white{position:relative;z-index:999;padding:0;}
/*企业文化--向下箭头*/			
.culture_down_arrows{background-position:right -325px;bottom:-10%;}

/*企业资质&员工风采*/
.aptitude_mien{height:1500px;background:#edfbff;margin-top:-166px;position:relative;overflow:hidden;}
.aptitude_mien .mien_bg{position:absolute;left:0;top:0;z-index:0;}
.aptitude_box{position:relative;z-index:999;margin-top:12%;}
.aptitude_head{border-bottom-style:solid;border-bottom-color:#c8c8c8;margin-bottom:56px;}
/*企业资质--轮播图*/
.aptitude_play{height:368px;background:white;position:relative;z-index:999;}
.mien_box{position:relative;z-index:999;margin-top:108px;}
/*员工风采--轮播图*/
.mien_play{position:relative;z-index:999;padding:0 2%;}

/*快捷财富简介--弹出图*/
.amend_box{width:100%;height:100%;position:fixed;left:0;top:0;display:none;z-index:99999}
	.box_content{z-index:99999;width:100%;height:100%;background:white;position:absolute;left:0;top:0;overflow:hidden;background:rgba(0,0,0,0.3);} 
	.box_content img{position:absolute;left:50%;top:50%;z-index:99999}
/*浮动窗--左侧*/
.about_float-window{width:60px;padding:0;margin:0;list-style:none;position:fixed;left:3%;top:5%;z-index:999999;text-align:center;}
.about_float-window li{width:100%;float:left;margin-bottom:12px;cursor:pointer;}
.about_float-window li i{display:inline-block;width:56px;height:56px;border-radius:100%;background:#eee no-repeat url(../images/about-us/logo-us.png);transition:background 0.5s;}
.about_float-window li:hover i{background-color:#4ec8f7;}
.about_float-window li span{color:#1b97c4;}
.about_float-window li:hover span{color:#136887}
.about_float-window .about1{background-position:-500px -392px;}
.about_float-window li:hover .about1{background-position:-500px -336px;}
.about_float-window .about-vary1 i{background-position:-500px -336px;background-color:#4ec8f7;}
.about_float-window .about-vary1 span{color:#136887;}
.about_float-window .about2{background-position:-500px -504px;}
.about_float-window li:hover .about2{background-position:-500px -448px;}
.about_float-window .about-vary2 i{background-position:-500px -448px;background-color:#4ec8f7;}
.about_float-window .about-vary2 span{color:#136887;}
.about_float-window .about3{background-position:-500px -616px;}
.about_float-window li:hover .about3{background-position:-500px -560px;}
.about_float-window .about-vary3 i{background-position:-500px -560px;background-color:#4ec8f7;}
.about_float-window .about-vary3 span{color:#136887;}
.about_float-window .about4{background-position:-500px -728px;}
.about_float-window li:hover .about4{background-position:-500px -672px;}
.about_float-window .about-vary4 i{background-position:-500px -672px;background-color:#4ec8f7;}
.about_float-window .about-vary4 span{color:#136887;}
.about_float-window .about5{background-position:-500px -840px;}
.about_float-window li:hover .about5{background-position:-500px -784px;}
.about_float-window .about-vary5 i{background-position:-500px -784px;background-color:#4ec8f7;}
.about_float-window .about-vary5 span{color:#136887;}
.about_float-window .about6{background-position:-500px -952px;}
.about_float-window li:hover .about6{background-position:-500px -896px;}
.about_float-window .about-vary6 i{background-position:-500px -896px;background-color:#4ec8f7;}
.about_float-window .about-vary6 span{color:#136887;}

/*2平台模式*/
.model_box{padding:0;position:relative;top:-140px;}
.model{background:#21bbf4;position:relative;top:-76px;}
.model_title{height:354px;background:center no-repeat url(../images/about-us/2-introduce_bg.png)}
.model_title .introduce_line{bottom:33%;}
.model_title img{margin-top:94px;position:relative;z-index:99999}
.model_solid{border-bottom:solid 1px #90DDFA}
.idea_bg{height:540px;background:center no-repeat url(../images/about-us/idea-icon.png);margin-top:36px;}
/*平台模式--向下箭头*/
.model_down_arrows{bottom:-10%;}
.model-blut_down_arrows{bottom:-2%}
/*平台模式--结尾img*/
.model_end_img{padding:0;margin-top:-95px;}
.model_head_color{color:#21bbf4;margin-top:72px;}
/*平台模式图*/
.model_pic{height:514px;background:center no-repeat url(../images/about-us/model_pic9.png)}

/*合作机构*/
.about_cooperation{padding:0;position:relative;}
.cooperation-box{background:#edfbff;padding-bottom:236px;}
.cooperation_name{margin-top:0;}
/*合作机构--轮播图*/
.cooperation_play{width:1068px;height:86px;margin-top:66px;position:relative;}
.cooperation_play_box{width:1068px;height:86px;overflow:hidden;position:absolute;left:0;top:0;}
.cooperation_play_box ul{width:1068px;overflow:hidden;padding:0;margin:0;list-style:none;position:absolute;left:0;top:0;background:#EDFBFF;}
.about-play1{z-index:20}
.about-play2{z-index:10}
.cooperation_play_box ul li{width:158px;height:86px;float:left;background:white no-repeat url(../images/about-us/cooperation_pic.png);border:solid 1px #f3f3f3;margin-right:24px;transition:border-color 0.5s;}
.cooperation_play_box ul li:hover{border-color:#1BBCF4;}
.cooperation_play_box ul li a{display:block;width:100%;height:100%;cursor:pointer;}
.last_play{margin-right:0 !important;}
.about-play1 .partner1{background-position:left top;}
.about-play1 .partner2{background-position:-158px top;}
.about-play1 .partner3{background-position:-316px top;}
.about-play1 .partner4{background-position:-474px top;}
.about-play1 .partner5{background-position:-632px top;}
.about-play1 .partner6{background-position:-790px top;}

.about-play1 .partner12{background-position:left -172px;}
.about-play1 .partner13{background-position:-158px -172px;}
.about-play1 .partner14{background-position:-316px -172px;}
.about-play1 .partner15{background-position:-474px -172px;}
.about-play1 .partner16{background-position:-632px -172px;}
.about-play1 .partner17{background-position:-790px -172px;}

.about-play2 .partner7{background-position:left -86px;}
.about-play2 .partner8{background-position:-158px -86px;}
.about-play2 .partner9{background-position:-316px -86px;}
.about-play2 .partner10{background-position:-474px -86px;}
.about-play2 .partner11{width:262px;background-position:-632px -86px;}

.about-play2 .partner18{background-position:left -258px;}
.about-play2 .partner19{background-position:-158px -258px;}
.about-play2 .partner20{background-position:-316px -258px;}
.about-play2 .partner21{background-position:-474px -258px;}
.about-play2 .partner22{background-position:-632px -258px;}
.about-play2 .partner23{background-position:-790px -258px;}

/*合作机构--左右箭头*/
.cooperation_play span{display:inline-block;width:44px;height:66px;position:absolute;background:no-repeat url(../images/about-us/cooperation_pic.png);top:10px;cursor:pointer;}
.cooperation_prev{left:-65px;background-position:right -258px !important;}
.cooperation_next{right:-65px;background-position:right -192px !important;}
/*合作机构--向下箭头*/
.coo_down_arrows{bottom:8%}
/*4历程梦想*/
.dream_of{padding:0;margin-top:-104px;position:relative;z-index:1;}
.dream_of_name{margin-top:-328px}
.dream_of_pic{width:100%;height:1886px;background:center no-repeat url(../images/about-us/dream_of.png);margin-top:70px;}
.dream_of_pic-box{width:1200px;margin:0 auto;height:1886px;position:relative;}
.dream_of_pic-box div{position:absolute;}
.dream_of_pic-box h2{font-weight:bold;color:#2196f3;font-size:24px}
.dream_of_pic-box p{color:#626262;font-size:18px}
.course-right{left:50%;margin-left:160px;top:79px;text-align:left;
	-webkit-transform: translate(2000px, 0);
	transform: translate(2000px, 0);
	transition:all 1s;
	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
	opacity: 0;
}
.course-left{right:50%;margin-right:105px;top:172px;text-align:right;
	-webkit-transform: translate(-2000px, 0);
	transform: translate(-2000px, 0);
	transition:all 1s;
	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
	opacity: 0;
}

.dh-left{
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-webkit-transform: translate(0, 0) !important;
	transform: translate(0, 0) !important;
	opacity: 1;
}


.dh-right{
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
}

.delay1-course{
	transition-delay: .5s;
	-webkit-transition-delay: .5s;
}
.delay2-course{
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
}
.delay3-course{
	transition-delay: 1.5s;
	-webkit-transition-delay: 1.5s;
}
.delay4-course{
	transition-delay: 2s;
	-webkit-transition-delay: 2s;
}
.delay5-course{
	transition-delay: 2.5s;
	-webkit-transition-delay: 2.5s;
}
.delay6-course{
	transition-delay: 3s;
	-webkit-transition-delay: 3s;
}
.delay7-course{
	transition-delay: 3.5s;
	-webkit-transition-delay: 3.5s;
}
.delay8-course{
	transition-delay: 4s;
	-webkit-transition-delay: 4s;
}
.delay9-course{
	transition-delay: 4.5s;
	-webkit-transition-delay: 4.5s;
}
.delay10-course{
	transition-delay: 5s;
	-webkit-transition-delay: 5s;
}
.delay11-course{
	transition-delay: 5.5s;
	-webkit-transition-delay: 5.5s;
}
.delay12-course{
	transition-delay: .5s !important;
	-webkit-transition-delay: .5s !important;
}
.delay13-course{
	transition-delay: 1s !important;
	-webkit-transition-delay: 1s !important;
}
.delay14-course{
	transition-delay: 1.5s !important;
	-webkit-transition-delay: 1.5s !important;
}
.dream_of_pic .course3{top:267px;}
.dream_of_pic .course4{top:360px;}
.dream_of_pic .course5{top:455px;}
.dream_of_pic .course6{top:548px;}
.dream_of_pic .course7{top:644px;}
.dream_of_pic .course8{top:736px;}
.dream_of_pic .course9{top:832px;}
.dream_of_pic .course10{top:925px;} 
.dream_of_pic .course11{top:1020px;}
.dream_of_pic .course12{top:1112px;}
.dream_of_pic .future{right:auto;top:auto;margin:0;text-align:left;
	-webkit-transform: translate(-2000px, 0);
	transform: translate(-2000px, 0);
	transition:all 1s;
	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
}

.dream_of_pic .future1{left:0;bottom:160px;}
.dream_of_pic .future2{left:19%;bottom:256px;}
.dream_of_pic .future3{left:36%;bottom:372px;}

.dream_down_arrows{bottom:-5%;}
.dream_of .oval_blue2{height:340px;position:absolute;left:0;top:-60px;z-index:-1}
/*5荣誉资质*/
.about_honour_box{margin-top:160px;text-align:center;position:relative;}
.about_honour_play{overflow:hidden;}
.honour_down_arrows{bottom:-12%;}
/*6联系我们*/
.contact_we{padding:0;margin-top:92px;position:relative;}
.contact_we_name{width:100%;height:182px;position:absolute;left:0;top:86px;}
.contact_we_content{width:100%;position:absolute;left:0;top:410px;text-align:center;}
.contact_text{display:inline-block;width:52%;}
.contact_text p{margin:0;font-size:18px;color:white;font-weight:bold;overflow:hidden;}
.contact_text p span{width:30%;text-align:right;display:inline-block;font-weight:normal;float:left;}
.contact_text p i{text-align:left;display:inline-block;font-weight:normal;font-style:normal;float:left;margin-left:12px;}






