/*取消选中*/
.loan_title table .up_down,.icon_text p span a,.amend_code .code_right a,.head_change,.system_head_pic,.click_up,.box_content,.system_news .click_text,.gains_add .amend_but,.system_news .check_all span,.sys_news span,.judge_add_box{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;}
/*个人资料*/
.data_box{margin:0;padding:0;list-style:none;margin-top:28px;margin-bottom:28px;}
	.data_box li{height:114px;overflow:hidden;padding:15px 0;border-bottom:solid 1px #ddd;}
		/*头像*/
		.head-login{width:84px;height:84px;float:left;position:relative;overflow:hidden;}
			.head-login a{width:100%;height:100%;display:block;cursor:pointer;}
			.head-login img{position:absolute;z-index:9}
		.per_serve{width:89.8%;height:84px;float:left;margin-left:8px;}
			.per_serve p{margin-top:18px;margin-bottom:16px;}
			.per_serve dl{margin:0;overflow:hidden;}
			.per_serve dl dd{float:left;width:33.33%;height:29px;line-height:29px;border-right:solid 1px #ddd;text-align:center;}
		.per_serve .serve_first{width:20%;text-align:left;color:#b6b6b6}
		.per_serve .serve_first span{color:#666;}
		.per_serve .serve_icon{width:46%;}
			.per_serve .serve_icon a{width:29px;height:29px;display:inline-block;background:-153px -250px no-repeat url(../images/account/acc_core_icon.png);cursor:pointer;}
				#serve_2{background-position:-182px -250px;}
				#serve_3{background-position:-211px -250px;}
				#serve_4{background-position:-240px -250px;}
		.per_serve .serve_last{border:none;color:#b6b6b6}
		.per_serve .serve_last span{color:#666;}
		/*签到*/
		.back_ma{margin-top:16px;}
		.sign_left{padding-left:0;}
			.sign_but{overflow:Hidden;}
			.sign_but button{float:left;width:18%;line-height:12px;}
			.sign_but p{float:left;margin:0;line-height:26px;color:#ff5252;}
			.reco{color:#b6b6b6;margin-top:11px;}
			.reco span{color:#666}
		.sign_right{padding:0;}
			.sign_right p{margin-top:4px;}
			/*复制*/
			.sign_copy{height:28px;line-height:28px;}
			.sign_copy button{width:15%;float:left;line-height:8px;margin-top:4px;margin-right:12px;}
			.sign_copy p{float:left;margin:0;}
		/*金额*/
		.acc_money_left,.acc_money_right{padding:0;}
		.acc_money_left{float:left;}
		.acc_money_right{float:right;text-align:right;}
			.sum_box{padding:0;list-style:none;margin:0;overflow:hidden;}
				.sum_box li{height:76px;}
				.sum_box .sum{overflow:hidden;width:50%;float:left;}
				.sum_box .sum i{float:left;display:inline-block;width:40px;height:39px;background:-153px -279px no-repeat url(../images/account/acc_core_icon.png);}
					#sum2_icon{background-position:-153px -318px;}
				.sum_box .sum p{float:left;margin:0;margin-left:16px;margin-top:5px;}
				.sum_box .sum p span{font-size:24px;color:#ff5252;}
				.sum_box dl{margin:0;height:25px;}
				.sum_box dl dd{float:left;width:28%;height:25px;border-right:solid 1px #ddd;text-align:center;}
					.sum_box .first_money{text-align:left;}
					.sum_box .usable_money{width:44%;}
					.sum_box .last_money{text-align:right;border:none;}
				.sum_box dl dd p{margin:0;line-height:52px;margin-top:-27px;}
				.sum_box dl dd p span{font-size:18px;color:#ff5252;}
		.acc_money_right button{width:67%;line-height:30px;margin-top:14px;margin-right:35px;}		
		.acc_money_right button a{display:block;color:white;}
/*借款账户*/			
.loan_acc{text-align:right;margin-bottom:24px;color:#666;font-size:14px;}
.loan_acc span{color:#ff5252;}
/*表格*/	
.mar_top{margin-top:9px;}
	/*借款标题*/		
	.loan_title{width:90%;padding:0;}
		.loan_title table{border:solid 1px #e2e2e2;margin-top:24px;}	
		.loan_title table .up_down{background:66px center no-repeat url(../images/account/up_down.png);cursor:pointer;}
		.loan_title table .alter1{background-position:51px center;}
		.loan_title table .alter2{background-position:37px center;}
		.loan_title table tr th{border-bottom:solid 1px #e2e2e2;}
		.loan_title table tbody tr th{border:none;}
		.loan_title table tbody tr td{border:none;}
		.loan_title p{margin-bottom:30px;overflow:hidden;}	
		.loan_title .left_loan_text{float:left;}
		.loan_title .left_loan_text i{font-style:normal;}
		.loan_title .right_loan_text{float:right;color:#ff5252;}
/*标题文本*/			
.title_text{margin:0;line-height:34px;height:35px;border-bottom:solid 1px #ddd;margin-top:20px !important;margin-bottom:86px;position:relative;}
.title_text span{display:inline-block;border-bottom:solid 1px #2196f3;color:#2196f3;font-size:18px;position:absolute;}
/*安全中心*/
.safety_line{width:90%;height:1px;border-bottom:dashed 1px #ddd;margin-bottom:206px;padding:0;position:relative;}
	.line_icon{width:89px;height:88px;position:absolute;top:-44px;}
		.safety_line .line_icon1{left:0;opacity:0;}
		.safety_line .line_icon2{left:0;opacity:0;}
		.safety_line .line_icon3{left:0;opacity:0;}
	.line_icon em{display:block;position:absolute;left:0;top:0;width:89px;height:88px;background:-153px -357px no-repeat url(../images/account/acc_core_icon.png);}
		.safety_line .icon2{background-position:-153px -445px;}
		.safety_line .icon3{background-position:-153px -533px;}
	.icon_text{position:absolute;left:50%;top:100px;width:260px;margin-left:-130px;display:none;}
		.icon_text .text_color{font-size:16px;color:#2196f3;}
		.icon_text .text_color i{font-style:normal;display:none;}
		.icon_text p{text-align:center;}
		.icon_text p span{width:25%}
		.icon_text .amend{display:none;}
		.icon_text .amend1{display:inline-block;}
		.icon_text p span a{cursor:pointer;transition:color 0.5s;}
		.icon_text p span a:hover{cursor:pointer;text-decoration:none;}
/*密码*/		
.amend_code{overflow:hidden;list-style:none;border:solid 1px #ddd;border-bottom:none;padding:0;}
.amend_code li{overflow:hidden;line-height:72px;border-bottom:solid 1px #ddd;}
	.amend_code .code_left{float:left;margin-left:30px;font-size:18px;}
	.amend_code .code_left span{color:#ff5252;}
	.amend_code .code_right{float:right;width:115px;height:22px;line-height:22px;margin-top:26px;margin-right:22px;text-align:right;}
	.amend_code .code_right a{font-size:18px;transition:color 0.5s;}
	.amend_code .code_right a:hover{cursor:pointer;text-decoration:none;}
	.amend_code .code_right span{font-family:"宋体";margin-left:4px;font-weight:bold;}
	.amend_code .code_right em{float:left;display:inline-block;width:23px;height:22px;background:right -378px no-repeat url(../images/account/acc_core_icon.png);}
	.amend_code .code_star{background-position:right -356px !important;}
/*安全提示*/		
.safety_por{margin-top:22px;margin-bottom:74px;overflow:hidden;}	
.safety_por h3{float:left;padding-left:30px;font-size:14px;color:#888;width:11%;margin:0;margin-top:2px;font-weight:bold;}
.safety_por p{float:left;color:#888;} 
/*个人资料--修改信息*/
.data_text{margin:0;}
.alter_news{padding:0;position:relative;padding-bottom:70px;}
.alter_content{width:80%;padding:0;}
	.alter_border{border-bottom:solid 1px #ddd;}
	.alter_centre{width:85%;padding:0;}
		.alter_centre ul{list-style:none;margin-top:78px;padding:0;margin-bottom:24px;}
		.alter_mar ul{margin-top:28px;}
		.alter_centre ul li{line-height:30px;position:relative;}
		.alter_centre .alter_l{display:inline-block;width:80px;text-align:right;margin-right:20px;}
		.alter_centre .alter_l span{font-size:14px;color:#646464;}
		
/*点击改换头像*/			
.head_change{width:84px;height:84px;position:absolute;left:0;top:46px;}
.head_change img{position:absolute;z-index:9;}
	.change_a{position:absolute;left:0;bottom:-18px;display:inline-block;width:100%;font-size:14px;color:#2196f3;cursor:pointer;transition:color 0.5s;text-align:center;}
	.change_a:hover{text-decoration:none;}
/*认证*/
.alter_no_attes{width:72px;overflow:hidden;position:absolute;right:0;top:0;margin:0;}
	.alter_no_attes i{float:left;display:inline-block;width:24px;height:24px;background:right -399px no-repeat url(../images/account/acc_core_icon.png);margin-top:3px;margin-right:6px;}
	.alter_no_attes span{float:left;font-size:14px;color:#ff5252;}
	.alter_attes i{background-position:right -423px;}
	.alter_attes span{color:#00a646;}
/*保存&取消修改*/
.save-cancel{position:absolute;right:0;top:0;width:102px;height:72px;}
.save-cancel button{width:100%;margin-top:10px;}
	.hide_but{display:none;}	
.alter_no_fill{display:none;}
		
.alter_no_fill li{height:54px;line-height:54px !important;}
.alter_no_fill li span{float:left;width:80px;text-align:right;margin-right:20px;}		
.alter_no_fill label{font-size:12px;color:#646464;margin:0;margin-right:18px;float:left;font-weight:normal;}		

.area_place{float:left;cursor:pointer;}
	.area_place i{display:block;width:20px;height:20px;background:right top no-repeat url(../images/loan/acc_core_icon.png);float:left;margin-right:10px;margin-top:17px;}
	.area_place .true_icon{background-position:-274px top;}			
/*提示文字*/
#prompt_news{overflow:hidden;}
	#prompt_news i{float:left;display:inline-block;width:24px;height:24px;margin-top:15px;margin-left:10px;margin-right:5px;}
		.noraml_pro{background:right -21px no-repeat url(../images/account/acc_core_icon.png);}
		.error_pro{background:right -45px no-repeat url(../images/account/acc_core_icon.png);}
		.aright_pro{background:right -69px no-repeat url(../images/account/acc_core_icon.png);}
		
	#prompt_text{width:auto;color:gray;font-size:12px;}			
.per_from{width:30%;float:left;margin-top:11px;overflow:hidden;} 			
/*下拉选项*/
.pull{width:30%;} 
	.pull_center{outline:none;width:86%;text-align:right;padding-right:12px;text-align:center;}
	.pull_center:focus{outline:none;}
	.pull_center:active{outline:none;}
	
	.pull_menu{right:0;margin:0 !important;height:154px !important;overflow:auto !important;}
		.pull_menu li{line-height:30px !important;height:30px;padding-left:10px;cursor:pointer;transition:background 0.5s;}
		.pull_menu li:hover{background:#509bdb;color:white;}
/*小箭头*/ 
.arrows{height:34px;} 
#arrows{width:0;height:0;padding:0;margin:0;}			
/*更换头像*/
.snug_prompt{position:absolute;left:0;top:34px;font-size:12px;color:#909090;margin:0;}
.head_preview{left:40px;top:140px;}	
	.replace_pic{position:absolute;z-index:9;width:84px;height:84px;overflow:hidden;}
		.replace_pic img{width:84px;height:84px;}
	.head_preview .preview_a{top:-28px;}
	.head_preview .preview_a:hover{color:#2196F3;cursor:auto;}
/*系统头像*/
.system_head_pic{margin:0;padding:0;list-style:none;width:666px;height:222px;position:absolute;right:0;top:120px;}
.system_head_pic li{width:64px;height:64px;margin:5px;float:left;border:solid 2px white;transition:border-color 0.5s;cursor:pointer;}
	.pic_border{border-color:#2196f3 !important;}
	.system_head_pic li img{width:60px;height:60px;}
	.system_head_pic span{position:absolute;left:5px;top:-32px;font-size:14px;color:#2196f3;}
/*点击上传*/
.click_up{width:320px;height:56px;border-radius:10px;position:absolute;right:340px;;top:394px;text-align:center;}
.click_up button{width:100%;line-height:42px;font-size:18px;color:white;}
.click_up span{position:absolute;left:0;top:-32px;font-size:14px;color:#2196F3;}
/*确定修改--box*/
.amend_box{width:100%;height:100%;position:fixed;left:0;top:0;display:none;z-index:98}
.amend_box_bg{width:100%;height:100%;background:rgba(0,0,0,0.3);position:absolute;z-index:99;}
	.box_content{z-index:100;width:240px;height:170px;background:white;position:absolute;left:50%;top:50%;margin-left:-120px;margin-top:-85px;border-radius:10px;overflow:hidden;box-shadow:0 0 10px gray;transition: box-shadow 0.5s;}
	.box_content:hover{box-shadow:0 0 10px black;}
	.box_content h3{margin:0;line-height:34px;color:white;background:#ff5252;text-align:center;font-size:16px;}
	.box_content p{margin:0;line-height:82px;color:#909090;text-indent:2em;}
	.content_but{text-align:center;}
		.content_but button{width:40%;margin:0 4px;transition:background 0.5s;}
	/*X*/
	.close_icon{display:inline-block;width:20px;height:20px;border-radius:3px;border:solid 1px #ff7e7e;position:absolute;right:8px;top:8px;cursor:pointer;}
		.close_icon i{display:inline-block;width:18px;height:18px;border-radius:3px;border:solid 1px #dd1717;background:right -447px no-repeat url(../images/account/acc_core_icon.png);transition:border-color 0.5s;}
		.close_icon i:hover{border-color:#a81111;}
/*我的银行卡*/
.band_card{height:240px;border-bottom:dashed 1px #c4c4c4;overflow:hidden;margin-top:32px;}
	.card_gap{width:162px;height:102px;float:left;background:center no-repeat url(../images/account/bank_card_gap.png);cursor:pointer;}
	.band_card h4{font-size:14px;margin-bottom:30px;color:#323232;}
	.band_card p{padding-left:20px;color:#323232;}
.band_card_table p{margin-top:30px;margin-bottom:15px;}
	.band_card_table .remark{width:31%;text-align:center;font-weight:normal;}
	.band_card_table thead tr th{border-bottom-width:1px;text-align:center;font-weight:normal;line-height:28px;background:#e5e5e5;}
	.band_card_table tr td{text-align:center;line-height:28px !important;}
/*系统信息*/
.sys_news span{border-color:#ddd;color:#323232;transition:border-color 0.5s;cursor:pointer;}
.sys_news .sys_color{color:#2196F3;border-color:#2196F3}
.system_news{position:relative;display:none;}
.system_news thead tr th{border-bottom-width:1px;text-align:center;line-height:28px;}
.system_news tr td{text-align:center;line-height:28px !important;}
.system_news input{cursor:pointer;}
.system_news .click_text{cursor:pointer;position:relative;}
.system_news .check_all{text-align:right;width:26% !important;}
.system_news .check_all span{padding:2px 10px;cursor:pointer;color:#646464;}
.system_news .check_all .check_del{background:#2196f3;border-radius:3px;color:white;transition:background 0.5s;}
.system_news .check_all .check_del:hover{background:#1a71b8;}
	.text_detail{top:25px;left:66px;display:none;}
	.text_detail .text_center{text-align:center;}
/*登录日志*/
.sys_log{padding-top:42px;}
.sys_log p{font-size:12px;color:#909090;position:absolute;left:0;top:14px;}
.data_text .register_log{left:100px;}
/*收获地址*/
.gains_add{margin-top:30px;}
.gains_add .amend_but{width:22%;}
.gains_add .amend_but a{color:#2196f3;cursor:pointer;transition:color 0.5s;}
.gains_add .amend_but a:hover{color:#1c7bc9;}
/*默认地址*/
.tolerant{position:absolute;right:-30px;top:57px;padding:0 10px;}
/*修改收获地址*/
.alter_add{margin-top:22px;overflow:hidden;}
.alter_add form{overflow:hidden;}
.alter_add form .form-group{height:34px;} 
.alter_add form .form-group label{text-align:right;font-weight:normal;margin:0;line-height:34px;padding:0;overflow:hidden;float:left;text-align:right;width:102px;}
.alter_add form .form-group div{float:left;}
.divide{float:left;line-height:34px;color:#ddd;}
.judge_add_box{color:#909090;}
.judge_add{width:14px;height:14px;display:inline-block;background:right -532px no-repeat url(../images/account/acc_core_icon.png);float:left;margin-top:10px;margin-right:10px;}
.judge_add_true{background-position:right -546px;}
.phone_num{padding-left:8px;padding-right:8px;}
.tol{margin-left:100px;}
.tol button{width:120px;}
/*插件--地区*/
.place_add{line-height:24px;}
.place_add .bf-menu-button-dropdown{top:14px !important;}
.sSelect{width:12% !important;}
.city-select-tab{width:282px !important;}
.city-select-tab a{width:auto !important;line-height:17px !important;}
.city-select{width:282px !important;}
.ks-overlay .fn-clear dd a{line-height:24px !important;}
/*提示文字*/
#prompt_news{overflow:hidden;line-height:34px;}
	#prompt_news i{float:left;display:inline-block;width:24px;height:24px;margin-top:6px;margin-left:10px;margin-right:5px;}
		.noraml_pro{background:right -21px no-repeat url(../images/account/acc_core_icon.png);}
		.error_pro{background:right -45px no-repeat url(../images/account/acc_core_icon.png);}
		.aright_pro{background:right -69px no-repeat url(../images/account/acc_core_icon.png);}
		
	#prompt_text{width:auto;color:gray;font-size:12px;} 




			
