/*头部*/
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/1.5 "微软雅黑",Helvetica Neue,Helvetica,Hiragino Sans GB,tahoma,arial,sans-serif;
    color:#474747;
    background: #f3f3f3;
}
fieldset,img{ border:0;}
input,lable,select,option,textarea,button,fieldset,legend{ font-family: "微软雅黑", Arial, sans-serif;margin: 0;}
input{vertical-align:middle; border:1px solid #999999; line-height: normal;padding-left:5px;}
ul,li{ list-style-type:none;}
.f_l{ float:left;}
.f_r{ float:right;}
.clear{ clear:both;}
a{color: #666; text-decoration:none; background:none;}
a:hover{ color: #333; text-decoration: none;}
body { behavior:url("csshover.htc");}
.clearfloat { clear: both;zoom: 1;}
a:-webkit-any-link { text-decoration: none;}
html{overflow-y:scroll;}
/*通用背景颜色*/
.bg_col{background: #f3f3f3;}
.index_white{background: #fff;}
.go-top {
    position:fixed;
    bottom:250px;
    right:0px;
    width:50px;
    height:50px;
    background:url(../images/style.png) no-repeat 0px 0px;

}

.go-top:hover {
    background:url(../images/style.png) no-repeat -51px 0px;

}
/*左右对齐*/
.align_left{text-align:left;padding:0;}
.align_right{text-align:right;padding:0;}
/*顶部导航*/
.head_right{float: right;}
.head_right .right-position{float: right;}
.main_container{width:100%;background: #fafafa;z-index:999999;border-bottom:solid 1px #E3E3E3;}
.top_info{width:1200px;}
.top_info div{height:35px;line-height: 35px;}
.top_info a{font-size: 13px;display: inline-block;color: #898989;margin-left:10px;transition: color 0.5s;float: left;}
.top_info a:hover{text-decoration: none;color: #ff5252;}
.top_nav{width:1200px;}
.top_nav div{line-height: 90px;}
.nva-menu{display:none;}
.top_nav .align_right a{display: inline-block;font-size: 18px;padding-left:25px;transition: color 0.5s;}
.top_nav .align_right a:hover{text-decoration: none;color: #ff5252;}
.top_nav .align_right a:focus{text-decoration: none;color: #ff5252;}
.align_right .login_icon{width: 18px;height: 17px;margin-top: 8px;margin-right: 5px;background: url("../images/index/index_icon.png") -18px 0 no-repeat;float: left;}
.align_right .register_icon{width: 16px;height: 17px;margin-top: 8px;margin-right: 5px;background: url("../images/index/index_icon.png") -36px 0 no-repeat;float: left;}
.align_right .mobile_icon{width: 16px;height: 18px;margin-top: 8px;background: url("../images/index/index_icon.png") -52px 0 no-repeat;float: left;}
.logo_pic{display:inline-block;}
.logo_pic a{display:inline-block;cursor:pointer;}

/*微信&新浪图标*/
.top_info .attention{float: left;margin-left: 10px;font-size: 13px;line-height: 35px;}
.top_info .header_hot{float:left;font-size: 13px;}
.top_info .header_phone{float:left;width: 17px;height: 17px;background: url("../images/index/index_icon.png") 0 0 no-repeat;display: inline-block;position: relative;margin-top: 8px;margin-right: 5px;}
.top_info .top_weix{float:left;width: 25px;height: 25px;background-color: #b2b2b2;border-radius: 50%;line-height: 35px;margin: 5px 5px;cursor: pointer;}
.top_info .top_weix_img{width:19px;height: 16px;background:url('../images/index/index_icon.png') 0px -18px no-repeat;position:relative;transition:background-position 0.5s;float: left;margin: 5px 2px 2px 3px;}
.top_info .top_weix:hover{background-color: #9cd429;}
.top_info .weix_pic{display:none;width:136px;height:185px;background: url('../images/index/index_icon.png') 0px -162px no-repeat;position:absolute;left:-55px;top: 20px;z-index:100;}
.top_info .top_xinlang{float:left;width: 25px;height: 25px;background-color: #b2b2b2;border-radius: 50%;line-height: 35px;margin: 5px 5px;cursor: pointer;}
.top_info .top_xinlang_img{float:left;width:20px;height:17px;background:url('../images/index/index_icon.png') -19px -18px no-repeat;position:relative;transition:background-position 0.5s;margin: 5px 2px 2px 3px;}
.top_info .top_xinlang:hover{background-color: #fd5959;}
.top_info .xinlang_pic{display:none;width:136px;height:185px;background: url('../images/index/index_icon.png') -135px -162px no-repeat;position:absolute;left:-55px;top: 20px;z-index:100;}
.top_info .top_qq{float:left;width: 25px;height: 25px;background-color: #b2b2b2;border-radius: 50%;line-height: 35px;margin: 5px 5px;cursor: pointer;}
.top_info .top_qq_img{float:left;width:20px;height:17px;background: url('../images/index/index_icon.png') -39px -18px no-repeat;position:relative;transition:background-position 0.5s;margin: 4px 2px 2px 5px;}
.top_info .top_qq:hover{background-color: #2196f3;}
/*导航线条*/

.header_hr{margin:0;width:100%;height:1px;background-color:#cbcbcb;}
.top_red{color: #ff5252;}

/*底部*/
.index_footer{background-color:white;border-top:solid 1px #ccc;margin-top: 45px;padding: 2% 0;}
.footer_main{width:1200px;}
.footer_left{float:left;padding:0}
.footer_right{float:right;padding:0 0 0 108px;}
body > span {
	position: fixed;
	left: 0;
	bottom: 0;
}

.new_user_1{overflow: hidden;margin-top: 20px;}
.new_user_1 a{color: #727272;margin-right: 40px;font-size: 16px;transition: color .5s;}
.new_user_1 a:hover{color: #69BAFB;}
.link{color: #727272;font-size: 16px;}
.sm_logo a{margin-right: 30px;}
.sm_logo a:first-child{margin-right: 40px;}
.hot_line{margin-top: 20px;}
.line_1{font-size: 16px;}
.line_2{font-size: 28px;font-weight: bold;}
.line_3{font-size: 12px;}
.cop_all{padding:0;margin-bottom: 30px;width:1200px;}
.beian{margin:0;margin-top: 30px;}
.beian p{font-size: 14px;}
.footer_pic{margin-top: 30px;text-align:right;}
.footer_pic div{display:inline-block;}
.footer_pic a{background:no-repeat url('../images/base/footer_pic.png');overflow: hidden;float: left;width: 120px;height: 40px;margin-left:6px;opacity: .5;transition: opacity .5s;}
.footer_pic a:hover{opacity: 1;}
.footer_pic .icp{background-position: left top;}
.footer_pic .rz{background-position: -119px top;}
.footer_pic .yz{background-position: -238px top;}
.footer_pic .pt{background-position: -358px top;}
.footer_pic .ba{background-position: -480px top;}

/*右边固定框*/
.right_sever_box {height: 222px;position: fixed;z-index: 999;right: 0;top:40%;}
.right_sever_box .shown_box{height: 222px;}
.right_sever_box a{background: no-repeat url("../images/index/float_frame.png");overflow:hidden;transition: all 0.8s;position: relative;width: 48px;height: 48px;display: block;margin-top:10px;position:relative;z-index:1;}
.right_sever_box a:hover{background:white}
.right_sever_box a:hover span{bottom:0;}
.right_sever_box a span{display:block;width:100%;height:100%;transition: all 0.6s;position: absolute;left:0;bottom:-100%;z-index: 2;background:left top url("../images/index/float_frame.png");}
.right_sever_box .zx{background-position: left top;}
.right_sever_box .zx span{background-position:-48px top;}
.right_sever_box .hp{background-position: left -58px;}
.right_sever_box .hp span{background-position:-48px -58px;}
.right_sever_box .jx{background-position: left -116px;}
.right_sever_box .jx span{background-position:-48px -116px;}
.right_sever_box .fd{background-position: left -174px;}
.right_sever_box .fd span{background-position:-48px -174px;}
 
/*隐藏*/
.content-hide{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}

/*按钮颜色*/
.bt-yellow{background: #f9ac07;color: #fff;transition:background 0.5s;}
.bt-yellow:hover{background: #f0a400;color: #fff;}
.bt-blue{background: #2196f3;color: #fff;transition:background 0.5s;}
.bt-blue:hover{background: #1976d2;color: #fff;}
/*字体颜色*/
.ft-yellow{color: #f9ac07}
.ft-blue{color: #2196f3}
.ft-black{color: #a0a0a0}
.ft-1{color: #5aa8fa}/*快车贷*/
.ft-2{color: #eb6473}/*捷房贷*/
.ft-3{color: #fcbb4e}/*财租贷*/
.ft-4{color: #78c340}/*净值标*/
.ft-5{color: #319eea}/*富业贷*/
.ft-1-h:hover{color: #5aa8fa}/*快车贷*/
.ft-2-h:hover{color: #eb6473}/*捷房贷*/
.ft-3-h:hover{color: #fcbb4e}/*财租贷*/
.ft-4-h:hover{color: #78c340}/*净值标*/
.ft-5-h:hover{color: #319eea}/*富业贷*/

/*汽车图标*/
.loan-icon-1{background-position: -83px -32px!important;width: 32px!important;}/*快车贷*/
.loan-icon-2{background-position: -27px -38px!important;}/*捷房贷*/
.loan-icon-3{background-position: 0 -38px!important;}/*财租贷*/
.loan-icon-4{background-position: -54px -38px!important;margin-top: 8px!important;width: 29px!important;}/*净值标*/
.loan-icon-5{background-position: -115px -38px!important;width: 25px!important;}/*富业贷*/
/*字体大小*/
.ft-26{font-size: 26px!important;}
/*红色金额*/
.money-red{color: #ff5252;}
/*分页样式*/
.loan-bottom{margin-top: 10px;width: 100%;display: inline-block;line-height: 30px;height: 80px;text-align: center;position: relative;}
.loan-bottom .page-item{width: 600px;display: inline-block;}
.page-item .record-num{margin-top: 10px;float: left;font-size: 15px;line-height: 40px;}
.page-item .pagination{margin-top: 10px;margin-bottom:10px;float: left;line-height: 30px;font-size: 15px;margin-right: 15px;}
.pagination{width: auto;display: inline-block;margin: 0;}
.pagination li{margin: 5px;float: left;}
.pagination li span{float: left;display: block;width: 30px;height: 30px;line-height: 30px;text-align: center;overflow: hidden;font-size: 14px;background:#fff;color: #656d78;border: 1px solid #dedede;border-radius: 3px;-webkit-border-radius:3px;}
.pagination li a{float: left;display: block;width: 30px;height: 30px;line-height: 30px;text-align: center;overflow: hidden;background:#fff;color: #656d78; font-size: 14px;border: 1px solid #dedede;border-radius: 3px;-webkit-border-radius:3px;}
.pagination li .current{background:#2196f3;color: #fff;cursor: default;border: 0;}
.pagination .prev, .pagination .next{width: 50px;}
.pagination li a:hover{background:#2196f3;color: #fff;cursor: pointer;border: 0;}
.pagination li.disabled span.ellipse{background: #fff;color: gray;}
/*通用分页样式*/
.com-page-item{margin-top: 10px;display: inline-block;line-height: 30px;height: 50px;text-align: center;position: relative;width: 600px;display: inline-block;}
.com-page-item a{margin: 5px;float: left;display: block;width: 30px;height: 30px;line-height: 30px;text-align: center;overflow: hidden;background:#fff;color: #656d78; font-size: 14px;border: 1px solid #dedede;border-radius: 3px;-webkit-border-radius:3px;}
.com-page-item span{margin: 5px;float: left;display: block;width: 30px;height: 30px;line-height: 30px;text-align: center;overflow: hidden;font-size: 14px;background:#fff;color: #656d78;border: 1px solid #dedede;border-radius: 3px;-webkit-border-radius:3px;}
.com-page-item .current{background:#2196f3;color: #fff;cursor: default;border: 0;}
.com-page-item .prev, .com-page-item .next{width: 50px;}
.com-page-item a:hover{background:#2196f3;color: #fff;cursor: pointer;border: 0;}
.com-page-item p{float: left;display: block;font-size: 15px;line-height: 30px;height: 30px;margin: 5px;}
.com-page-item .com-page-position{text-align: center;display: inline-block;}
/*没有信息*/
.no-messages{font-size: 20px;width: 1200px;line-height: 20px;height: 20px;text-align: center;margin-top: 20px;}
/*一对一图标*/
.loan_one{width: 160px;height: 102px;position: absolute;left: 348px;top: 0; }


