*:focus {
	outline: none
}


/*顶部分割线*/

hr {
	margin-bottom: 10px;
}


/*字体垂直居中*/

label {
	vertical-align: middle;
}

.caluar_box {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9997;
	display: none;
}
.caluar_bg{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9998;
}
.box {
	width: 860px;
	border-radius: 10px;
	border: 3px solid rgb(220, 220, 220);
	margin: 20px auto;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 20%;
	margin-left: -430px;
	overflow: hidden;
	background: white;
	z-index: 9999;
}


/*顶部样式*/

.box-top {
	height: 87px;
	position: relative;
}

.box-top .top-title {
	margin-left: 8px;
	font-size: 18px;
}

.top-logo {
	padding: 10px;
	margin: 10px 9px;
	position: absolute;
	top: -16px;
}

.top-right {
	margin-left: 130px;
	position: relative;
	text-align: left;
	vertical-align: 10px;
	padding-top: 13px;
}

.top-right .describe {
	font-size: 16px;
}


/*底部左边样式*/

.footer-left {
	width: 34%;
	height: 320px;
	position: relative;
	top: 9px;
	left: 0px;
	float: left;
	display: inline-block;
	padding: 0px 0px 0px 17px;
}

.footer-left h3 {
	font-size: 14px;
	color: #212121;
	margin-bottom: 23px;
}


/*投资金额*/

.inv_money {
	padding: 0;
	margin-right: 12px;
	margin-bottom: 12px;
	font-size: 12px;
}

.inv_main_text {
	padding: 5px;
	font-size: 12px;
	width: 50%;
	margin: 0px 2px 0px 10px;
	border: solid 1px #A9A9A9;
}


/*checkbox每月付息,到期本息*/

.pay {
	margin: 25px 43px;
}

.pay label {
	font-size: 12px;
}

.monthpay {
	display: inline-block;
	margin-left: 55px;
}

.expirepay {
	display: inline-block;
	margin-left: 50px;
}


/*底部右边样式*/

.tool_right {
	height: auto;
	float: left;
	padding-left: 23px;
	border-left: 1px solid rgb(203, 203, 203);
}

.tool_result {
	width: 500px;
	padding: 0px 0px 10px;
	line-height: 30px;
}

.result_table {
	text-align: center;
}

.tool_result .active {
	font-size: 14px;
	background-color: #eee;
}

.tool_result dt {
	width: 500px;
	font-size: 17px;
	font-weight: ;
	padding-bottom: 5px;
	text-align: left;
}

.tool_result dd {
	font-size: 14px;
	width: 550px;
	margin-left: 0px;
}

.paytable {
	width: 500px;
	text-align: center;
	border-collapse: collapse;
	border: medium none;
	display: none;
}

.tool_table td {
	height: 28px;
	line-height: 28px;
}

.tool_table td strong {
	font-weight: normal;
	color: #2196f3;
	font-size: 14px;
}


/*计算器表格字体*/

#paycontent {
	font-size: 14px;
}


/*按钮组*/

.inv_button {
	margin: 32px 20px;
}

.inv_button .inv_calculate {
	width: 85px;
	height: 32px;
	margin: 0px 10px;
	background-color: #fff;
	border: 1px solid #666;
	border-radius: 3px;
	cursor: pointer;
}

.inv_button .inv_reset {
	width: 85px;
	height: 32px;
	margin: 0px 10px;
	background-color: #fff;
	border: 1px solid #666;
	border-radius: 3px;
	cursor: pointer;
}


/*计算器icon*/


/*计算器图片*/

.easyicon {
	display: block;
}

.easyicon p {
	margin-top: 0px;
	font-size: 12px;
	color: #2196f3;
}


/*表单验证-input加个边框警告*/

.required {
	border: 1px solid #2196f3;
}


/*表单验证-输入框警告文字*/

.validate {
	display: none;
	color: #2196f3;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
}


/*表单验证-文本格式*/

.tool_table .result-account {
	width: 33.33%;
	text-align: left;
}


/*关闭计算器*/

.caluar_close {
	position: absolute;
	right: 20px;
	top: 11px;
	font-size: 24px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	transition: color 0.5s;
}
.caluar_close:hover{
	color:gray;
}
