/*重置*/

img,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
dl,
dd,
a,
body {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	border: none;
}

a {
	text-decoration: none;
}

/*取消被选中*/
.plan_rec_box{-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-o-user-select: none;}

/*暖冬--top*/


/*暖冬--content*/
/*内容1*/
.carnival_plan1 {
	width: 100%;
	height: 1006px;
	background: center no-repeat url(../active/images/carnival_plan1.png);
	overflow: hidden;
}

.plan1_box {
	width: 1091px;
	margin: 122px auto 0;
	height: 760px;
	position: relative;
	overflow: hidden;
}

.plan1_box span {
	display: inline-block;
	position: absolute;
}

#plan1 {
	left: -446px;
	top: 48px;
	width: 446px;
	height: 78px;
	background: left top no-repeat url(../active/images/carnival_icon.png);
}
#plan1_text {
	left: -620px;
	top: 126px;
	line-height: 68px;
	font-size: 24px;
	color: #f2f451;
	opacity: 0;
}
#plan1_pic{
	position: absolute;
	width: 100%;
	overflow: hidden;
	left: 0;
	top: 194px;
}
.plan1_pic_content{
	width: 756px;
	margin: 0 auto;
	overflow: hidden;
}
.plan1_pic_content i{
	display: block;
	float: left;
	width: 350px;
	height: 174px;
	background: left -347px no-repeat url(../active/images/carnival_icon.png);
	transition: box-shadow 0.8s;
}
.plan1_pic_content i:hover{
	box-shadow: inset 0 0 30px #394785;
}
#pic_con_rihgt{
	float: right;
	background-position: left -521px;
}
#plan2{
	left: 0px;
	top: 400px;
	width: 274px;
	height: 77px;
	background: left -79px no-repeat url(../active/images/carnival_icon.png);
}
/*文本内容*/
.plan1_content{
	position: absolute;
	left: 40px;
	bottom: 146px;
	font-size: 20px;
	color: white;
	
}
.plan1_content p{
	line-height: 35px;
}
/*立即充值*/
.plan_rec_box{
	position: absolute;
	left: 0;
	bottom: 26px;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.plan_rec_box a{
	position: relative;
	display: inline-block;
	width: 334px;
	height: 94px;
	background: #fa566a;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}
.plan_rec_box a span{
	width: 100%;
	height: 88px;
	line-height: 88px;
	left: 0;
	display: inline-block;
	background: #fd6a7c;
	border-radius: 8px;
	font-size: 50px;
	color: white;
	transition: background-color 0.6s;
}
.plan_rec_box a span:hover{
	background: #fc7484;
}
/*内容2*/
.carnival_plan2{
	widows: 100%;
	height: 1382px;
	background: center no-repeat url(../active/images/carnival_plan2.png);
	overflow: hidden;
}
.plan2_box{
	width: 1055px;
	margin: 0 auto;
	height: 1096px;
	margin-top: 185px;
	position: relative;
	overflow: hidden;
}
.plan2_box span {
	display: inline-block;
	position: absolute;
}
#plan3{
	left: 0;
	top: 36px;
	width: 525px;
	height: 77px;
	background: left -156px no-repeat url(../active/images/carnival_icon.png);
}
#plan2_text{
	left: 40px;
	top: 132px;
	line-height: 68px;
	font-size: 24px;
	color: #f2f451;
}
#plan4{
	width: 274px;
	height: 77px;
	left: 0;
	bottom: 288px;
	background: left -79px no-repeat url(../active/images/carnival_icon.png);
}
/*文本内容2*/
.plan2_content{
	position: absolute;
	left: 40px;
	bottom: 146px;
	font-size: 20px;
	color: white;
	
}
.plan2_content p{
	line-height: 35px;
}
/*最终解释权*/
.final_pow{
	width: 100%;
	line-height: 114px;
	text-align: center;
	font-size: 30px;
	color: white;
	background: #657eeb;
	overflow: hidden;
}
.final_pow span{
	display: inline-block;
	background: left -233px no-repeat url(../active/images/carnival_icon.png);
	padding-left: 62px;
}















