body {
	background-color: #d8ecfa;
}

/*-- 四种保障 --*/

.banner_area {
	width: 100%;
	background: #58bdff;
}

.banner_area_box {
	width: 1200px;
	margin: 0 auto;
	height: 338px;
	position: relative;
	overflow: hidden;
}

/*严格风控 理财无忧*/

.risk_content {
	width: 1200px;
	padding: 0;
}

.risk_content .row {
	margin: 0 0 120px;
}

.top_list {
	text-align: center;
	padding: 80px 0 50px 0;
	border-bottom: none;
}

.top_list1 {
	text-align: center;
	padding-top: 20px;
}

.area_icon_1 {
	width: 512px;
	height: 109px;
	left: 104px;
	bottom: 50%;
	margin-bottom: -54px;
	background: url(../images/ensure/ensure_icon1_01.png) center no-repeat;
	-webkit-animation: profit_1 1s;
	-ms-animation: profit_1 1s;
	animation: profit_1 1s;
}

.area_icon_2 {
	width: 206px;
	height: 289px;
	right: 104px;
	bottom: 50%;
	margin-bottom: -144.5px;
	background: url(../images/ensure/ensure_icon1_02.png) center no-repeat;
	-webkit-animation: ensure_bottom 1.5s;
	-ms-animation: ensure_bottom 1.5s;
	animation: ensure_bottom 1.5s;
	z-index: 1;
}

.area_icon_3 {
	width: 81px;
	height: 115px;
	right: 42px;
	bottom: 36px;
	background: url(../images/ensure/ensure_icon1_03.png) center no-repeat;
	-webkit-animation: ensure_right 2s;
	-ms-animation: ensure_right 2s;
	animation: ensure_right 2s;
}

.area_icon_4 {
	width: 83px;
	height: 52px;
	right: 44%;
	top: 28px;
	background: url(../images/ensure/ensure_icon1_04.png) center no-repeat;
	-webkit-animation: cloud1-animate 8s infinite alternate;
	-ms-animation: cloud1-animate 8s infinite alternate;
	animation: cloud1-animate 8s infinite alternate;
}

.area_icon_5 {
	width: 59px;
	height: 37px;
	right: 0;
	top: 86px;
	background: url(../images/ensure/ensure_icon1_05.png) center no-repeat;
	-webkit-animation: cloud2-animate 8s infinite alternate;
	-ms-animation: cloud2-animate 8s infinite alternate;
	animation: cloud2-animate 8s infinite alternate;
}

.risk_content1 {
	width: 100%;
	height: 300px;
	background: white url(../images/ensure/ensure_icon1_06.png) center 24px no-repeat;
	margin: 84px 0 114px !important;
	position: relative;
}

.risk_contentText {
	width: 798px;
	margin: 0 auto;
	margin-top: 132px;
	font-size: 20px;
	color: #909090;
	line-height: 32px;
	text-align: justify;
}

.risk_contentIcon {
	display: inline-block;
	width: 165px;
	height: 158px;
	background: url(../images/ensure/ensure_icon1_07.png) center no-repeat;
	position: absolute;
	left: -60px;
	bottom: -10px;
}

/* 线条--num */

.line_num {
	float: none;
	width: 4px;
	height: 914px;
	background: #36a6d3;
	display: inline-block;
	margin-bottom: 170px;
	position: relative;
	margin-top: 120px;
}

/*1--6*/

.line_num_float {
	width: 48px;
	height: 48px;
	background: #59bffd;
	position: absolute;
	left: -22px;
	top: -24px;
	border-radius: 50px;
}

.line_num_float span {
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	margin-top: 5px;
	color: white;
	transition: background 0.5s;
	font-size: 16px;
}

.line_num_float1 {
	background: #b0d355;
}

.line_num_float2 {
	background: #3b9fd8
}

.num_content {
	width: 246px;
	height: 324px;
	background: white;
	position: absolute;
	right: 186px;
	top: -36px;
	text-align: justify;
}

.num_icon {
	width: 100%;
	height: 102px;
	text-align: center;
}

.num_content h2 {
	padding: 0 20px;
	font-size: 16px;
	color: ;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.num_content .lineH2-b {
	color: #3b9fd8
}

.num_content .lineH2-g {
	color: #b0d355
}

.num_content p {
	padding: 0 20px;
	font-size: 14px;
	color: ;
	margin: 0;
	line-height: 24px;
	text-align: justify;
	color: #909090;
}

.num_icon i {
	display: inline-block;
	width: 114px;
	height: 114px;
	border-radius: 100%;
	margin-top: -34px;
	background: white
}

.num_icon i em {
	display: inline-block;
	width: 108px;
	height: 108px;
	border-radius: 100%;
	background: #3b9fd8 url(../images/ensure/order.png) left top no-repeat;
	margin-top: 3px;
}

.num_icon .em2 {
	background-position: left -108px;
}

.num_icon .em3 {
	background-position: left -216px;
}

.num_icon .em4 {
	background-position: left -324px;
}

.num_icon .em5 {
	background-position: left -432px;
}

.num_icon .em6 {
	background-position: left -540px;
}

.num_icon .emBg_l {
	background-color: #3b9fd8;
}

.num_icon .emBg_g {
	background-color: #b0d355;
}

.arrows_right {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	right: -46px;
	top: 26px;
	border-color: transparent;
	border-style: solid;
	border-width: 36px 0px 36px 46px;
	border-right-width: 0px;
	border-left-color: white
}

.numLeft {
	-webkit-transform: translate(-2000px, 0);
	-ms-transform: translate(-2000px, 0);
	transform: translate(-2000px, 0);
}

.numRight {
	-webkit-transform: translate(2000px, 0);
	-ms-transform: translate(2000px, 0);
	transform: translate(2000px, 0);
}

.numAnimate-left {
	-webkit-animation: numAnimate-left 1s forwards;
	-ms-animation: numAnimate-left 1s forwards;
	animation: numAnimate-left 1s forwards;
}

.numAnimate-right {
	-webkit-animation: numAnimate-right 1s forwards;
	-ms-animation: numAnimate-right 1s forwards;
	animation: numAnimate-right 1s forwards;
}

.delay2 {
	-webkit-animation-delay: .4s;
	-ms-animation-delay: .4s;
	animation-delay: .4s;
}

.delay3 {
	-webkit-animation-delay: .8s;
	-ms-animation-delay: .8s;
	animation-delay: .8s;
}

.delay4 {
	-webkit-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.delay5 {
	-webkit-animation-delay: 1.6s;
	-ms-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

.delay6 {
	-webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}


/*风控审核步骤*/

#arrows_right_1 {
	right: -46px;
	top: 26px;
}

.num_float_2 {
	top: 160px;
}

.num_content_2 {
	left: 186px;
	top: -220px;
}

#num_icon_2 {
	background-position: left -102px;
}

.arrows_left {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: -46px;
	bottom: 42px;
	border-color: transparent;
	border-style: solid;
	border-width: 36px 46px 36px 0px;
	border-left-width: 0px;
	border-right-color: white
}

.num_float_3 {
	top: 342px;
}
 
#num_icon_3 {
	background-position: left -204px;
}

#arrows_right_3 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	right: -46px;
	top: 26px;
	border-style: solid;
	border-width: 36px 0px 36px 46px;
	border-right-width: 0px;
}

.num_float_4 {
	top: 526px;
}

.num_content_4 {
	left: 186px;
	top: -220px;
}

#num_icon_4 {
	background-position: left -306px;
}

.arrows_left_4 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: -46px;
	bottom: 42px;
	border-style: solid;
	border-width: 36px 46px 36px 0px;
	border-left-width: 0px;
}

.num_float_5 {
	top: 707px;
}

#num_icon_5 {
	background-position: left -408px;
}

#arrows_right_5 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	right: -46px;
	top: 26px;
	border-style: solid;
	border-width: 36px 0px 36px 46px;
	border-right-width: 0px;
}

.num_float_6 {
	top: 891px;
}

.num_content_6 {
	left: 186px;
	top: -220px;
}

#num_icon_6 {
	background-position: left -510px;
}

.arrows_left_6 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: -46px;
	bottom: 42px;
	border-style: solid;
	border-width: 36px 46px 36px 0px;
	border-left-width: 0px;
}


/*打造全方位安全体系*/

#area_color2 {
	background: #58bdff;
}

.setup_1 {
	width: 538px;
	height: 105px;
	left: 0;
	bottom: 50%;
	margin-bottom: -52.5px;
	background: url(../images/ensure/tuoguan.png) center no-repeat;
	-webkit-animation: profit_1 1s;
	-ms-animation: profit_1 1s;
	animation: profit_1 1s;
	z-index: 2;
}

.setup_2 {
	width: 371px;
	height: 307px;
	background: url(../images/ensure/tuoguan_bg.png) center no-repeat;
	right: 74px;
	bottom: 50%;
	margin-bottom: -153.5px;
	z-index: 2;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-animation: setup2 1s forwards;
	-ms-animation: setup2 1s forwards;
	animation: setup2 1s forwards;
	-webkit-animation-delay: .5s;
	-ms-animation-delay: .5s;
	animation-delay: .5s;
} 

.custody {
	padding-top: 35px;
}

.custody > p {
	height: 54px;
	background: url(../images/ensure/tuoguanIcon.png) center top no-repeat;
	margin-bottom: 28px;
}

.whyThird > div {
	margin: 0 auto;
	width: 742px;
	height: 510px;
	background-color: white;
	box-shadow: 10px 10px 10px -12px #afadad;
	position: relative;
}

.whyThird > div > p {
	line-height: 78px;
	font-size: 50px;
	text-align: center;
	color: white;
	background: #58bdff;
}

.whyThird div > div {
	margin: 40px auto 0;
	width: 568px;
}

.whyThird div > div p {
	font-size: 16px;
	color: #909090;
}

.whyThird div > div span {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 72px;
}


/*三角形*/

.whyThird div > i {
	position: absolute;
	left: -24px;
	top: 0;
	display: block;
	width: 24px;
	height: 37px;
	background: url(../images/ensure/tuoguanIcon.png) left bottom;
}

.whyThird [title="右边三角形"] {
	left: auto !important;
	right: -24px;
	background-position: -24px bottom !important;
}

.custody2 > p {
	background-position: center -54px;
}

.custody2 > div {
	text-align: center;
}

.custody2 > div > p,
.custody3 > div > p {
	font-size: 40px;
	color: #646464;
	margin-bottom: 82px;
}

.custody3 > p {
	background-position: center -108px;
}

.custody3 > div {
	text-align: center;
}

.custody3 > div > div div {
	width: 33.33%;
	float: left;
	text-align: center;
}

.custody3 > div > div div > i,
.custody3 > div > div div > span {
	display: inline-block;
}

.custody3 > div > div div > i {
	width: 147px;
	height: 147px;
	background: url(../images/ensure/tuoguanIcon.png) left -216px no-repeat;
}

.custody3 [title="图标2"] {
	background-position: -147px -216px !important;
}

.custody3 [title="图标3"] {
	background-position: -294px -216px !important;
}

.custody3 > div > div div > span {
	width: 100%;
	height: 44px;
}

.custody3 .guaranteeNum {
	display: inline-block;
	margin: 28px auto;
	width: 162px;
	height: 44px;
	border: solid 1px #5dabd8;
	background-color: #d8ecfa;
	border-radius: 4px;
}

.custody3 .guaranteeNum i {
	display: block;
	font-style: normal;
	float: left;
	line-height: 42px;
	font-size: 28px;
}

.custody3 [title="序号"] {
	width: 30%;
	background-color: #5dabd8;
	color: white;
}

.custody3 [title="保障"] {
	width: 70%;
	color: #5dabd8;
}

.custody3 .guaranteeNumP {
	margin: 0 auto;
	width: 252px;
	text-align: justify;
	font-size: 16px;
	color: #646464;
}

.custody3 .guaranteeNumP em {
	font-style: normal;
	color: #5dabd8;
}

.custody4 {
	padding: 0;
	width: 100%;
	margin-bottom: 62px;
}

.custody4 > p {
	height: 54px;
	background: url(../images/ensure/tuoguanIcon.png) center -162px no-repeat;
	margin-bottom: 54px;
}

.custody4 > div {
	width: 100%;
	height: 414px;
	background: url(../images/ensure/tuoguanPic3.png) no-repeat center/cover;
}

.custody4 > div div {
	margin: 0 auto;
	width: 940px;
	overflow: hidden;
}

.custody4 > div div p {
	color: white;
}

.custody4 [title="firstP"] {
	text-align: center;
	font-size: 50px;
	margin: 58px auto 44px;
}

.custody4 [title="inentP"] {
	font-size: 16px;
	text-align: justify;
	text-indent: 2em;
	line-height: 28px;
}

.banner_area_box > i {
	display: block;
	position: absolute;
	width: 97px;
	height: 82px;
	background-image: url(../images/ensure/line.png);
	z-index: 1;
}

.banner_area_box [title="l1"] {
	left: 28%;
	top: 49%;
	-webkit-transform: translate(292px, -248px);
	-ms-transform: translate(292px, -248px);
	transform: translate(292px, -248px);
	-webkit-animation: linellae1 1s infinite linear;
	-ms-animation: linellae1 1s infinite linear;
	animation: linellae1 1s infinite linear;
}

.banner_area_box [title="l2"] {
	top: 6%;
	-webkit-transform: translate(120px, -100px);
	-ms-transform: translate(120px, -100px);
	transform: translate(120px, -100px);
	-webkit-animation: linellae2 1s infinite linear;
	-ms-animation: linellae2 1s infinite linear;
	animation: linellae2 1s infinite linear;
}

.banner_area_box [title="l3"] {
	left: 62%;
	top: 8%;
	-webkit-transform: translate(130px, -110px);
	-ms-transform: translate(130px, -110px);
	transform: translate(130px, -110px);
	-webkit-animation: linellae3 1s infinite linear;
	-ms-animation: linellae3 1s infinite linear;
	animation: linellae3 1s infinite linear;
}

.banner_area_box [title="l4"] {
	left: 13%;
	bottom: 19%;
	-webkit-transform: translate(355px, -280px);
	-ms-transform: translate(355px, -280px);
	transform: translate(355px, -280px);
	-webkit-animation: linellae4 1s infinite linear;
	-ms-animation: linellae4 1s infinite linear;
	animation: linellae4 1s infinite linear;
}

.banner_area_box [title="l5"] {
	right: 0;
	bottom: 34%;
	-webkit-transform: translate(275px, -230px);
	-ms-transform: translate(275px, -230px);
	transform: translate(275px, -230px);
	-webkit-animation: linellae5 1s infinite linear;
	-ms-animation: linellae5 1s infinite linear;
	animation: linellae5 1s infinite linear;
}

.banner_area_box [title="l6"] {
	left: 46%;
	bottom: 32%;
	-webkit-transform: translate(272px, -230px);
	-ms-transform: translate(272px, -230px);
	transform: translate(272px, -230px);
	-webkit-animation: linellae6 1s infinite linear;
	-ms-animation: linellae6 1s infinite linear;
	animation: linellae6 1s infinite linear;
}

.banner_area_box [title="l7"] {
	left: 24%;
	top: 3%;
	-webkit-transform: translate(120px, -100px);
	-ms-transform: translate(120px, -100px);
	transform: translate(120px, -100px);
	-webkit-animation: linellae7 1s infinite linear;
	-ms-animation: linellae7 1s infinite linear;
	animation: linellae7 1s infinite linear;
}

.banner_area_box i:lang(dl1) {
	-webkit-animation-delay: .5s;
	-ms-animation-delay: .5s;
	animation-delay: .5s;
}

.banner_area_box i:lang(dl2) {
	-webkit-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}

.banner_area_box i:lang(dl3) {
	-webkit-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.banner_area_box > em {
	display: block;
	position: absolute;
	opacity: 0;
	-webkit-animation: aIEm 1.5s infinite alternate;
	-ms-animation: aIEm 1.5s infinite alternate;
	animation: aIEm 1.5s infinite alternate;
}

.banner_area_box em:lang(px16) {
	width: 16px;
	height: 16px;
	background-image: url(../images/ensure/circle1.png);
	-webkit-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.banner_area_box [title="r1"] {
	left: 43%;
	top: 23%;
}

.banner_area_box [title="r2"] {
	left: 23%;
	top: 13%;
}

.banner_area_box [title="r3"] {
	left: 9%;
	top: 20%;
}

.banner_area_box [title="r4"] {
	left: 3%;
	bottom: 26%;
}

.banner_area_box em:lang(px23) {
	width: 23px;
	height: 23px;
	background-image: url(../images/ensure/circle2.png);
	-webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}

.banner_area_box [title="r5"] {
	left: 25%;
	bottom: 10%;
}

.banner_area_box [title="r6"] {
	right: 16%;
	bottom: 13%;
}

.banner_area_box em:lang(px36) {
	width: 36px;
	height: 36px;
	background-image: url(../images/ensure/circle3.png);
	-webkit-animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.banner_area_box [title="r7"] {
	right: 25%;
	top: 6%;
}

.banner_area_box [title="r8"] {
	right: 36%;
	bottom: 21%;
}

.banner_area_box [title="r9"] {
	right: 4%;
	bottom: 21%;
}

.banner_area_box em:lang(px38) {
	width: 38px;
	height: 38px;
	background-image: url(../images/ensure/circle4.png);
	-webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}

.banner_area_box [title="r10"] {
	right: 4%;
	top: 21%;
}

.banner_area_box [title="r11"] {
	right: 36%;
	top: 21%;
}

.banner_area_box span {
	display: inline-block;
	position: absolute;
}

.banner_area_box span i {
	display: inline-block;
	position: absolute;
	width: 54px;
	height: 54px;
	background: url(../images/ensure/tuoguanIcon.png) right -216px;
}

.banner_area_box i:lang(aII) {
	-webkit-transform: translateY(-2000px);
	-ms-transform: translateY(-2000px);
	transform: translateY(-2000px);
	-webkit-animation: aII 1s forwards;
	-ms-animation: aII 1s forwards;
	animation: aII .5s forwards;
}

.banner_area_box [title="i1"] {
	left: -72px;
	top: 49px;
	-webkit-animation-delay: .4s !important;
	-ms-animation-delay: .4s !important;
	animation-delay: .4s !important;
}

.banner_area_box [title="i2"] {
	right: -72px;
	top: 49px;
	background-position: right -270px;
	-webkit-animation-delay: .8s !important;
	-ms-animation-delay: .8s !important;
	animation-delay: .8s !important;
}

.banner_area_box [title="i3"] {
	left: -72px;
	top: 207px;
	background-position: right -323px;
	-webkit-animation-delay: 1.2s !important;
	-ms-animation-delay: 1.2s !important;
	animation-delay: 1.2s !important;
}

.banner_area_box [title="i4"] {
	right: -72px;
	top: 205px;
	background-position: right -377px;
	-webkit-animation-delay: 1.6s !important;
	-ms-animation-delay: 1.6s !important;
	animation-delay: 1.6s !important;
}


/*Css3-缩放*/

@-webkit-keyframes setup2 {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	70% {
		-webkit-transform: scale(.9);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@keyframes setup2 {
	0% {
		opacity: 0;
		-ms-transform: scale(.3);
		transform: scale(.3)
	}
	50% {
		opacity: 1;
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}
	70% {
		-ms-transform: scale(.9);
		transform: scale(.9)
	}
	100% {
		opacity: 1;
		-ms-transform: scale(1);
		transform: scale(1)
	}
}


/*Css3-掉落(从上)*/

@-webkit-keyframes aII {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px) 
	}
	80% {
		-webkit-transform: translateY(-10px) 
	}
	100% {
		-webkit-transform: translateY(0) 
	}
}

@keyframes aII {
	0% {
		opacity: 0; 
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}
	60% {
		opacity: 1; 
		-ms-transform: translateY(30px);
		transform: translateY(30px)
	}
	80% { 
		-ms-transform: translateY(-10px);
		transform: translateY(-10px)
	}
	100% { 
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
}


/*Css3-闪烁*/

@-webkit-keyframes aIEm {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 100;
	}
	100% {
		opacity: 0;
	}
}

@keyframes aIEm {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 100;
	}
	100% {
		opacity: 0;
	}
}

/*Css3-流星*/

/*线条1*/

@-webkit-keyframes linellae1 {
	0% {
		opacity: 0;
		-webkit-transform: translate(292px, -248px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-webkit-transform: translate(-292px, 248px);
	}
}

@keyframes linellae1 {
	0% {
		opacity: 0;
		-ms-transform: translate(292px, -248px);
		transform: translate(292px, -248px);
	}
	50% {
		opacity: 1;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-ms-transform: translate(-292px, 248px);
		transform: translate(-292px, 248px);
	}
}

/*线条2*/

@-webkit-keyframes linellae2 {
	0% {
		opacity: 0;
		-webkit-transform: translate(120px, -100px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-webkit-transform: translate(-120px, 100px);
	}
}

@keyframes linellae2 {
	0% {
		opacity: 0;
		-ms-transform: translate(120px, -100px);
		transform: translate(120px, -100px);
	}
	50% {
		opacity: 1;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-ms-transform: translate(-120px, 100px);
		transform: translate(-120px, 100px);
	}
}

/*线条3*/

@-webkit-keyframes linellae3 {
	0% {
		opacity: 0;
		-webkit-transform: translate(130px, -110px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-webkit-transform: translate(-130px, 110px);
	}
}

@keyframes linellae3 {
	0% {
		opacity: 0;
		-ms-transform: translate(130px, -110px);
		transform: translate(130px, -110px);
	}
	50% {
		opacity: 1;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-ms-transform: translate(-130px, 110px);
		transform: translate(-130px, 110px);
	}
}

/*线条4*/

@-webkit-keyframes linellae4 {
	0% {
		opacity: 0;
		-webkit-transform: translate(335px, -280px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-webkit-transform: translate(-335px, 280px);
	}
}

@keyframes linellae4 {
	0% {
		opacity: 0;
		-ms-transform: translate(335px, -280px);
		transform: translate(335px, -280px);
	}
	50% {
		opacity: 1;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-ms-transform: translate(-335px, 280px);
		transform: translate(-335px, 280px);
	}
}

/*线条5*/

@-webkit-keyframes linellae5 {
	0% {
		opacity: 0;
		-webkit-transform: translate(275px, -230px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-webkit-transform: translate(-275px, 230px);
	}
}

@keyframes linellae5 {
	0% {
		opacity: 0;
		-ms-transform: translate(275px, -230px);
		transform: translate(275px, -230px);
	}
	50% {
		opacity: 1;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-ms-transform: translate(-275px, 230px);
		transform: translate(-275px, 230px);
	}
}

/*线条6*/

@-webkit-keyframes linellae6 {
	0% {
		opacity: 0;
		-webkit-transform: translate(272px, -230px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-webkit-transform: translate(-272px, 230px);
	}
}

@keyframes linellae6 {
	0% {
		opacity: 0;
		-ms-transform: translate(272px, -230px);
		transform: translate(272px, -230px);
	}
	50% {
		opacity: 1;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-ms-transform: translate(-272px, 230px);
		transform: translate(-272px, 230px);
	}
}

/*线条7*/

@-webkit-keyframes linellae7 {
	0% {
		opacity: 0;
		-webkit-transform: translate(120px, -100px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-webkit-transform: translate(-120px, 100px);
	}
}

@keyframes linellae7 {
	0% {
		opacity: 0;
		-ms-transform: translate(120px, -100px);
		transform: translate(120px, -100px);
	}
	50% {
		opacity: 1;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: .5;
		-ms-transform: translate(-120px, 100px);
		transform: translate(-120px, 100px);
	}
}

/*低门槛 高收益*/

.profit_1 {
	width: 409px;
	height: 125px;
	background: url(../images/ensure/profit_1.png);
	left: 158px;
	bottom: 50%;
	margin-bottom: -62.5px;
	animation: profit_1 1s;
	-webkit-animation: profit_1 1s;
}

.profit_2 {
	width: 359px;
	height: 280px;
	background: url(../images/ensure/profit_2.png);
	right: 114px;
	bottom: 0;
	-webkit-transform: translateY(-2000px);
	-ms-transform: translateY(-2000px);
	transform: translateY(-2000px);
	-webkit-animation: aII 1s forwards;
	-ms-animation: aII 1s forwards;
	animation: aII 1s forwards;
	-webkit-animation-delay: .5s;
	-ms-animation-delay: .5s;
	animation-delay: .5s;
}

.profit_3 {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 271px;
	height: 152px;
	background: url(../images/ensure/profit_3.png);
}

.profit_box {
	background-color: white;
}

.profit {
	width: 934px;
	margin: 74px auto 62px;
}

.profit > div {
	text-align: center;
}

.profit > div p {
	font-size: 40px;
	color: #646464;
}

.profit > div i {
	display: block;
	margin: 10px auto 20px;
	width: 120px;
	height: 2px;
	background-color: #39aaf8;
}

.profit [title="p2p网贷平台内容"] {
	text-align: justify !important;
	text-indent: 2em;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 46px;
}

/*选择快捷财富的理由*/

.reason_box {
	background: #58bdff url(../images/ensure/profit_5.png) center bottom no-repeat;
	padding-bottom: 230px;
	margin-bottom: 42px;
}

.reason {
	margin: 0 auto;
	width: 1200px;
}

.reason > p {
	text-align: center;
	font-size: 40px;
	color: white;
	margin: 60px auto;
}

.reason > div {
	overflow: hidden;
}

.col-xs-4 {
	text-align: center;
}

.col-xs-4 i {
	display: inline-block;
	width: 86px;
	height: 86px;
	background: url(../images/ensure/profit_4.png);
}

.col-xs-4 strong {
	display: block;
	font-size: 20px;
	color: white;
	margin: 8px auto;
}

.col-xs-4 p {
	display: inline-block;
	font-size: 16px;
	color: white;
	text-align: left;
	line-height: 28px;
}

.col-xs-4 p span {
	font-size: 20px;
}

/*多种期限，投资更灵活*/

.various_box {
	background: #58bdff;
	position: relative;
	z-index: 2;
}

.various_box .various1 {
	width: 249px;
	height: 147px;
	background-image: url(../images/ensure/various_1.png);
	left: 24%;
	bottom: -147px;
	z-index: 2;
}

.various_box .various2 {
	width: 577px;
	height: 83px;
	background-image: url(../images/ensure/various_2.png);
	left: 14%;
	top: 60px;
	animation: ensure_right 1s;
	-webkit-animation: ensure_right 1s;
}

.various_box .various3 {
	width: 0;
	height: 34px;
	background-image: url(../images/ensure/various_3.png);
	left: 44.8%;
	bottom: 10%;
}

.various_box .various3 em {
	display: inline-block;
	position: absolute;
	left: 10%;
	top: -2px;
	width: 16px;
	height: 16px;
	background-image: url(../images/ensure/various_y.png);
	-webkit-animation: various3 .5s forwards;
	-ms-animation: various3 .5s forwards;
	animation: various3 .5s forwards;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-animation-delay: 3.5s;
	-ms-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

.various_box em:lang(y2) {
	left: auto !important;
	top: auto !important;
	right: 20%;
	bottom: -4px;
	-webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}

.various_box .various4 {
	width: 201px;
	height: 234px;
	background-image: url(../images/ensure/various_4.png);
	right: 22%;
	bottom: 10%;
	-webkit-animation: various4 .5s forwards;
	-ms-animation: various4 .5s forwards;
	animation: various4 .5s forwards;
	-webkit-transform: translate(-240px, 280px);
	-ms-transform: translate(-240px, 280px);
	transform: translate(-240px, 280px);
	-webkit-animation-delay: 4.5s;
	-ms-animation-delay: 4.5s;
	animation-delay: 4.5s;
	z-index: 2;
}

.various_box .various5 {
	width: 83px;
	height: 52px;
	background-image: url(../images/ensure/ensure_icon1_04.png);
	right: 14%;
	bottom: 34%;
	z-index: 1;
	-webkit-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
	-webkit-animation: cloud1-animate 5s infinite linear alternate;
	-ms-animation: cloud1-animate 5s infinite linear alternate;
	animation: cloud1-animate 5s infinite linear alternate;
}

.various_box .various6 {
	width: 59px;
	height: 37px;
	background-image: url(../images/ensure/ensure_icon1_05.png);
	right: 16%;
	bottom: 20%;
	z-index: 1;
	-webkit-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
	-webkit-animation: cloud2-animate 6s infinite linear alternate;
	-ms-animation: cloud2-animate 6s infinite linear alternate;
	animation: cloud2-animate 6s infinite linear alternate;
}

/*css3 引导线--￥*/
@-webkit-keyframes various3 {
	0% {
		-webkit-transform: scale(0)  
	}
	50% {
		-webkit-transform: scale(1.6)  
	}
	100% {
		-webkit-transform: scale(1)  
	}
}

@keyframes various3 {
	0% {   
		transform: scale(0)
	}
	50% {   
		transform: scale(1.6)
	}
	100% {   
		transform: scale(1)
	}
}

/*css3 火箭发射*/

@-webkit-keyframes various4 {
	0% {
		-webkit-transform: translate(-240px, 280px)
	}
	100% {
		-webkit-transform: translate(0, 0);
	} 
}

@keyframes various4 {
	0% {
		-ms-transform: translate(-240px, 280px)
		transform: translate(-240px, 280px)
	}
	100% {
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	} 
}

.bridge_box {
	width: 1170px;
	padding: 0;
	margin-top: 96px;
}

.bridge {
	height: 374px;
	background-color: white;
	border: dashed 2px #58bdff;
	position: relative;
	margin-bottom: 186px;
	transform: translateY(-2000px);
	-webkit-animation: aII 1s linear;
	-ms-animation: aII 1s linear;
	animation: aII 1s linear forwards;
	animation-delay: .5s;
}

.bridge > p {
	text-align: center;
	margin-top: -30px;
}

.bridge > p > span {
	display: inline-block;
	padding: 0 46px;
	font-size: 40px;
	color: white;
	background-color: #58bdff;
	border-radius: 2px;
}

.bridge > div {
	margin: 108px auto 0;
	width: 942px;
	height: 162px;
}

.bridge > div p {
	float: left;
	width: 530px;
	text-indent: 2em;
	font-size: 16px;
	color: #646464;
	text-align: justify;
}

.bridge > div div {
	position: relative;
	float: right;
	width: 285px;
	height: 162px;
	background: url(../images/ensure/various_5.png);
}

.bridge > div div i {
	display: inline-block;
	position: absolute;
	left: 32px;
	top: -32px;
	width: 70px;
	height: 70px;
	background: url(../images/ensure/various_6.png) right top;
	-webkit-transform: scale(4);
	-ms-transform: scale(4);
	transform: scale(4);
	opacity: 0;
	-webkit-animation: bridgeI 1s forwards;
	-ms-animation: bridgeI 1s forwards;
	animation: bridgeI .5s forwards;
	-webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}

.bridge [title="财富之门"] {
	left: auto !important;
	right: 29px;
	background-position: right -70px;
	-webkit-animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

/*css3--缩小*/
@-webkit-keyframes bridgeI {
	0% {
		opacity: 0;
		-webkit-transform: scale(4);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(.5);	
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);	
	}
}
@keyframes bridgeI {
	0% {
		opacity: 0;
		-ms-transform: scale(4);
		transform: scale(4);
	}
	50% {
		opacity: 1;
		-ms-transform: scale(.5);	
		transform: scale(.5);	
	}
	100% {
		opacity: 1;
		-ms-transform: scale(1);	
		transform: scale(1);	
	}
}

.bridge > span {
	position: absolute;
	top: -115px;
	left: 18%;
	display: inline-block;
	width: 8px;
	height: 130px;
}

.bridge > span em {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 8px;
	height: 130px;
	background-color: #58bdff;
	z-index: 2;
}

.bridge > span i {
	position: absolute;
	left: -4px;
	bottom: -8px;
	z-index: 1;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #d8ecfa;
	border-radius: 100%;
	border: solid 3px #58bdff;
}

.bridge > span:lang(second) {
	left: auto !important;
	right: 18%;
}

.choiceKj {
	height: 774px;
	background: white;
	margin-bottom: 40px;
}

.choiceKj > p {
	margin: -82px auto 7%;
	line-height: 82px;
	font-size: 40px;
	color: white;
	background: url(../images/ensure/various_7.png) no-repeat;
	text-align: center;
}

.choiceKj > div {
	overflow: hidden;
}

.choiceKj > div div {
	text-align: center;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.aIchoiceKj > div div {
	-webkit-animation: choickKj .5s linear forwards;
	-ms-animation: choickKj .5s linear forwards;
	animation: choickKj .5s linear forwards;
}

.aIchoiceKj > div div:lang(Kj1) {
	-webkit-animation-delay: .2s;
	-ms-animation-delay: .2s;
	animation-delay: .2s;
}

.aIchoiceKj > div div:lang(Kj2) {
	-webkit-animation-delay: .4s;	
	-ms-animation-delay: .4s;	
	animation-delay: .4s;	
}

.aIchoiceKj > div div:lang(Kj3) {
	-webkit-animation-delay: .6s;	
	-ms-animation-delay: .6s;	
	animation-delay: .6s;	
}

.aIchoiceKj > div div:lang(Kj4) {
	-webkit-animation-delay: .8s;	
	-ms-animation-delay: .8s;	
	animation-delay: .8s;	
}

.aIchoiceKj > div div:lang(Kj5) {
	-webkit-animation-delay: 1s;	
	-ms-animation-delay: 1s;	
	animation-delay: 1s;	
}

.aIchoiceKj > div div:lang(Kj6) {
	-webkit-animation-delay: 1.2s;	
	-ms-animation-delay: 1.2s;	
	animation-delay: 1.2s;	
}

.aIchoiceKj > div div:lang(Kj7) {
	-webkit-animation-delay: 1.4s;	
	-ms-animation-delay: 1.4s;	
	animation-delay: 1.4s;	
}

/*css3 放大*/
@-webkit-keyframes choickKj {
	0% {
		-webkit-transform: scale(0); 
	} 
	100% {
		-webkit-transform: scale(1); 
	}
}

@keyframes choickKj {
	0% { 
		-ms-transform: scale(0);
		transform: scale(0);
	} 
	100% { 
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

.choiceKj > div div i {
	display: inline-block;
	width: 130px;
	height: 130px;
	background: url(../images/ensure/various_6.png) left top;
}

.choiceKj > div div i:lang(KjIcon2) {
	background-position: left -130px;
}

.choiceKj > div div i:lang(KjIcon3) {
	background-position: left -260px;
}

.choiceKj > div div i:lang(KjIcon4) {
	background-position: left -390px;
}

.choiceKj > div div i:lang(KjIcon5) {
	background-position: left -520px;
}

.choiceKj > div div i:lang(KjIcon6) {
	background-position: left -650px;
}

.choiceKj > div div i:lang(KjIcon7) {
	background-position: left -780px;
}

.choiceKj > div div strong {
	display: block;
	font-weight: normal;
	font-size: 24px;
	color: #323232;
	margin: 14px auto 12px;
}

.choiceKj > div div p {
	font-size: 14px;
	color: #909090;
	line-height: 24px;
	text-align: center;
}

/*边距top:38*/

.choiceKj > div:lang(top38) {
	width: 75%;
	margin: 38px auto 0;
}

/*特点--链接*/

.transaction {
	width: 1200px;
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px dashed #cccccc;
}

.tran_make {
	margin-top: 20px;
}

#tran_box {
	width: 1200px;
	margin: 0 auto;
}

.transaction .p1 {
	font-size: 16px;
	color: #999
}

.transaction .p2 {
	color: #ff5252;
	font-size: 15px;
}

.transaction .p2 span {
	font-size: 30px;
}

.invest p {
	font-size: 16px;
}

.under_bg {
	overflow: hidden;
	text-align: center;
}

.under_bg a {
	display: inline-block;
	cursor: pointer;
}

.under_bg i {
	display: block;
	width: 105px;
	height: 104px;
	transform: rotate(0deg);
	transition: transform 0.5s ease-out;
	background: url(../images/index/index_icon.png) 0 -630px no-repeat;
	margin: 0 auto;
}

.under_bg:hover i {
	transform: rotate(360deg);
	display: block;
}

.under_bg .under_icon_2 {
	background-position: -106px -630px;
}

.under_bg .under_icon_3 {
	background-position: -212px -630px;
}

.under_bg .under_icon_4 {
	background-position: -318px -630px;
}

.under_bg a p {
	display: block;
	font-size: 15px;
	color: #999;
	text-align: center;
	margin-top: 5px;
}

/*css--animate*/

@-webkit-keyframes select_get {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@keyframes select_get {
	0% {
		opacity: 0;
		-ms-transform: scale(.3);
		transform: scale(.3)
	}
	50% {
		opacity: 1;
		-ms-transform: scale(1.2);
		transform: scale(1.2)
	}
	100% {
		opacity: 1;
		-ms-transform: scale(1);
		transform: scale(1)
	}
}

@-webkit-keyframes profit_1 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	80% {
		-webkit-transform: translateX(-10px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}

@keyframes profit_1 {
	0% {
		opacity: 0;
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}
	60% {
		opacity: 1;
		-ms-transform: translateX(30px);
		transform: translateX(30px)
	}
	80% {
		-ms-transform: translateX(-10px);
		transform: translateX(-10px)
	}
	100% {
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}

@-webkit-keyframes ensure_right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px)
	}
	80% {
		-webkit-transform: translateX(10px)
	}
	100% {
		-webkit-transform: translateX(0)
	}
}

@keyframes ensure_right {
	0% {
		opacity: 0;
		-ms-transform: translateX(2000px);
		transform: translateX(2000px)
	}
	60% {
		opacity: 1;
		-ms-transform: translateX(-30px);
		transform: translateX(-30px)
	}
	80% {
		-ms-transform: translateX(10px);
		transform: translateX(10px)
	}
	100% {
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}

@-webkit-keyframes ensure_bottom {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px)
	}
	80% {
		-webkit-transform: translateY(10px)
	}
	100% {
		-webkit-transform: translateY(0) 
	}
}

@keyframes ensure_bottom {
	0% {
		opacity: 0; 
		-ms-transform: translateY(2000px);
		transform: translateY(2000px)
	}
	60% {
		opacity: 1; 
		-ms-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	80% { 
		-ms-transform: translateY(10px);
		transform: translateY(10px)
	}
	100% { 
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
}


/*animate--云(严格风控 理财无忧)*/

@-webkit-keyframes cloud1-animate {
	0% {
		right: 30%;
	}
	100% {
		right: 62%;
	}
}

@keyframes cloud1-animate {
	0% {
		right: 30%;
	}
	100% {
		right: 62%;
	}
}

@-webkit-keyframes cloud2-animate {
	0% {
		right: 30%;
	}
	100% {
		right: 0%;
	}
}

@keyframes cloud2-animate {
	0% {
		right: 30%;
	}
	100% {
		right: 0%;
	}
}

@-webkit-keyframes numAnimate-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	50% {
		opacity: 0.5;
		-webkit-transform: translateX(15px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@keyframes numAnimate-left {
	0% {
		opacity: 0;
		-ms-transform: translateX(-20px);
		transform: translateX(-200px)
	}
	50% {
		opacity: 0.5;
		-ms-transform: translateX(15px);
		transform: translateX(15px);
	}
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}

@-webkit-keyframes numAnimate-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}
	50% {
		opacity: 0.5;
		-webkit-transform: translateX(-15px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@keyframes numAnimate-right {
	0% {
		opacity: 0;
		-ms-transform: translateX(200px);
		transform: translateX(200px)
	}
	50% {
		opacity: 0.5;
		-ms-transform: translateX(-15px);
		transform: translateX(-15px);
	}
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}