/*取消选中*/

.forget_content_title {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}


/*忘记密码--大盒子*/

.forget_code_box {
	width: 1000px;
	height: 362px;
	padding: 0;
	background: white;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	top: 50%;
	margin-top: -181px;
}

.forget_code_box h3 {
	margin: 0;
	font-size: 24px;
	color: #828282;
	background: #f6f6f6;
	height: 40px;
	line-height: 40px;
	padding-left: 16px;
}


/*忘记密码--内容*/

.forget_content {
	width: 880px;
	height: 230px;
	margin-top: 36px;
	padding: 0;
	color: #828282;
}

.forget_content_title {
	height: 34px;
	line-height: 34px;
	border-bottom: solid 1px #ddd;
	margin-bottom: 38px;
}

.forget_left {
	float: left;
}

.forget_left span {
	margin-right: 14px;
	font-size: 18px;
	padding-bottom: 4px;
	cursor: pointer;
	transition: color 0.5s;
}

.forget_left span:hover {
	color: #2196f3;
}

.forget_left_blue {
	color: #2196f3;
	border-bottom: solid 1px #2196f3;
}

.forget_right {
	float: right;
}

.forget_right a {
	color: #2196f3;
	cursor: pointer;
}


/*找回密码--内容*/

.retrieve {
	width: 100%;
}

.retrieve_content {
	width: 390px;
}

.retrieve_line {
	line-height: 31px;
	position: relative;
}

.forget2 {
	display: none
}

.retrieve_line label {
	padding-top: 4px !important;
	color: #2196f3;
	padding-right: 0;
	font-weight: normal;
	font-size: 16px
}

.retrieve_line input {
	height: 38px;
	line-height: 38px;
}

.note_checking {
	line-height: 24px;
	margin-left: -10px;
	color: #626262;
	transition: background 0.5s;
}

.immediately_retrieve {
	width: 131px;
	line-height: 24px;
	background: #2196f3;
	color: white;
	border-color: #2196f3;
	transition: background 0.5s;
	font-size: 18px;
}

.immediately_retrieve:hover {
	background: #1b75bf;
	color: white;
	border-color: #1b75bf
}

.btn-default:active:hover:focus {
	background: #1b75bf;
	color: white;
	border-color: #1b75bf
}


/*提示框*/

.prompt {
	margin: 0;
	display: block;
	transition: right 0.5s;
	left: auto;
}

.prompt_content {
	padding: 0 !important;
	margin: 7px 14px;
	max-height: 22px;
	overflow: hidden;
}

.input_content {
	transition: border-color 0.5s;
}

.retrieve_line .red_color {
	border-color: #FF5252
}

/*若无法找回*/

.unable_retrieve {
	text-align: center;
	color: #818181;
	margin-top: 25px;
}