.login,.under_bg,#invest_but,#list_1,#list_2,#list_3,#list_4,#list_5{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;}
*:focus{outline:none;}
/*轮播图*/
.xuanfukuang{width:1200px;height:380px;position:absolute;left:50%;top:0;margin-left:-600px;}
.banner_area{position: relative;height: 380px;margin: 0 auto;}
.qiehuan{position: relative;overflow: hidden;}
.qiehuan ul{padding: 0;margin:0;height: 380px;}
.qiehuan a{width: 100%;height:380px;display: block;position:absolute;right:0}

.qiehuan .bg_01{background:center no-repeat url(../images/index/kj-ad-4.jpg);}
.qiehuan .bg_02{background:center no-repeat url(../images/index/kj-ad-5.jpg);}
.qiehuan .bg_03{background:center no-repeat url(../images/index/kj-ad-6.jpg);}

.qiehuan_btn{position: absolute;bottom:8px;height: 25px;z-index: 999;cursor: pointer;margin-left: -42px;left: 50%;}
.qiehuan_btn span{width: 25px;height: 8px;background: #eeeeee;display: inline-block;cursor: pointer;margin-left: 5px;}
.qiehuan_btn .active{background:#fa3f05;}

/*登录框*/
.login{border:6px solid rgba(0,0,0,0.09);position: absolute;width: 283px;height: 300px;overflow: hidden;top:50%;right:0;margin-top:-150px;z-index: 999;}
.login form{padding:12px;background:white;}
.login_info p:first-child{width:90%;margin:0 auto;text-align:center;font-size:16px;font-weight:bold;padding-bottom:18px;border-bottom:solid 1px #eee;}
.user_loan{width:100%;height:38px;line-height:38px;border:solid 1px #cbcbcb;border-radius:6px;margin-top:18px;}
.user_loan i{display:inline-block;width:26px;height:34px;background:left top no-repeat url(../images/index/user_icon.png);float:left;margin-left:10px;}
.user_loan #user_code{background-position:left -34px;}
.user_loan input{float:left;height:24px;line-height:24px;border:none;padding-left:6px;margin-top:6px;width:84%;}
.user_prompt{width:100%;overflow:hidden;line-height:36px;}
.user_prompt span{float:left;font-size:12px;color:#da251d;}
.user_prompt a{float:right;font-size:12px;color:#646464;cursor:pointer;}
.user_prompt a:hover{color:#646464;}
.login #register{display:block;width:100%;background:#E1E1E1;transition:background 0.5s;color:#8F8F8F;line-height:42px;text-align:center;background:#0caffe;color:white;border-radius:6px;cursor:pointer;}
.login #register:hover{text-decoration:none;background:#1976D2;}
#index_user_login{width:100%;line-height:40px;text-align:center;}
#index_user_login a{cursor:pointer;font-size:12px;color:#0caffe;}
/*交易金额*/  
.transaction{width:1200px;text-align: center;padding: 20px 0;border-bottom: 1px dashed #cccccc;background: white;}
.tran_make{margin-top: 20px;}
#tran_box{width:1200px;margin:0 auto;}
.transaction .p1{font-size: 16px;color: #999}
.transaction .p2{color: #ff5252;font-size: 15px;}
	.transaction .p2 span{font-size:30px;}
.invest{border-bottom: 1px solid #cccccc;}
.invest p{font-size: 16px;}
.under_bg{overflow:hidden;text-align:center;}
.under_bg a{display:inline-block;cursor:pointer;}
.under_bg i{display:block;width: 105px;height: 104px;transform:rotate(0deg);transition:transform 0.5s ease-out;background: url(../images/index/index_icon.png) 0 -630px no-repeat;margin: 0 auto;}
.under_bg:hover i{transform:rotate(360deg);display:block;}
.under_bg .under_icon_2{background-position: -106px -630px;}
.under_bg .under_icon_3{background-position: -212px -630px;}
.under_bg .under_icon_4{background-position: -318px -630px;}
.under_bg a p{display: block;font-size:15px;color: #999;text-align: center;margin-top: 5px;}

/*理财*/
#trade{width:1200px;padding:0;}
#cond{width:1200px;padding:0;}
#cond .col-xs-8,#cond .col-xs-4{background-color: white}
.top_tittle{border-bottom: 1px solid #cccccc;line-height: 55px;height: 55px;position: relative;}
.top_tittle p span{font-size: 24px;color: #2196f3;padding-right: 25px;}
.top_tittle p{padding-left: 20px;margin:0;}
.top_tittle p img{position: relative;}
.top_tittle p:last-child{width: 70%;height: 36px;line-height: 36px;font-size: 12px;text-align: center;background:rgba(0,0,0,0.5);padding-left: 0;color: #ffffff;position: absolute;bottom: -147px;left:22px;display: none;}
.top_tittle p:last-child:hover{display: block;}
.new_user{overflow: hidden;text-align: center;margin: 30px;border: 1px solid #ff5252;border-radius:6px;line-height:38px;}
.new_user p{width: 20%;display: block;float: left;margin: 0;height:38px;}
.new_user p:first-child{background: #ff5252;color: #ffffff;font-size: 16px;}
.new_user p:first-child i{display:inline-block;width:25px;height:100%;background:right top no-repeat url(../images/index/index_icon.png);margin-right:-25px;}
.new_user p:first-child b{float:right;padding-right:20px;}

.new_user p:last-child{border-left: 1px solid #ff5252;}
.new_user p:last-child i{display:inline-block;width:20px;height:100%;background:right bottom no-repeat url(../images/index/index_icon.png);margin-right:-22px;}
.new_user p:last-child a{padding-right:20px;float:right;}
.new_user span{color: #ff5252;font-style: italic;}

.car_loan{overflow: hidden;border-top: 1px solid #cccccc;}
.car_loan p{cursor:pointer;}
.car_loan p:first-child{width:15%;float: left;background:right top no-repeat url(../images/index/index_icon.png);}
.car_loan #con_icon_1{height:29px;background-position:right -37px}
.car_loan #con_icon_2{height:35px;background-position:right -66px}
.car_loan #con_icon_3{height:33px;background-position:right -101px}
.car_loan #con_icon_4{height:34px;background-position:right -138px}
.car_loan #con_icon_5{height:34px;background-position:right -172px}

.loan_title{width:50%;float: left;margin-top: 10px;}
.loan_mon{width:30%;float:right;text-align: right;margin-top: 10px;margin-right:35px;}
.car_loan{padding-top: 30px;}
.car_loan span{font-size: 18px;color: #ff5252;}
.car_loan_info{overflow: hidden;text-align: center;margin-top: 10px;height:80px;line-height:25px;border-bottom: 1px dashed #cccccc;}
.car_loan_info div{width: 20%;float: left;}
.car_loan_info .inv_last_d{margin-top:5px;}
.car_loan_info .inv_last_d p:first-child{width:100px;height:15px;background:#cee8fd;margin:0;border-radius:8px;position:relative;overflow:hidden;margin-left: 28px;}
.car_loan_info .inv_last_d p:first-child i{display:block;height:15px;background:#2196f3;position:absolute;left:0;top:0;overflow:hidden;color:#2196f3}
.car_loan_info .inv_last_d p:first-child span{position: absolute;font-size:12px;color:#032139;font-style:normal;left:50px;margin-left:-14px;bottom: -7px;line-height:28px;}
#invest_but{width:100px;line-height:30px;display:inline-block;background: #2196f3;border: none;color: #ffffff;border-radius:4px;margin-top:17px;transition:background 0.5s;}
#invest_but:hover{background: #1976d2;text-decoration:none;cursor:pointer;}
.car_loan_info span{color: #ff5252;font-size: 30px;font-style: italic;}
.car_loan_info div:nth-child(3){margin-top:5px;}
.car_loan_info div:nth-child(4){margin-top:5px;}
#list_1:hover{color: #03c0db;transition: color 0.5s;}
#list_2{margin-top:15px;}
#list_2:hover{color: #ff5252;transition: color 0.5s;}
#list_3{margin-top:12px;}
#list_3:hover{color: #57d419;transition: color 0.5s;}
#list_4{margin-top:13px;}
#list_4:hover{color: #ec990f;transition: color 0.5s;}
#list_5{margin-top:13px;}
#list_5:hover{color: #5a8af6;transition: color 0.5s;}
.txt_1 p span{color: #000000;font-size: 14px;padding-left: 5px;}
.txt_1 #txt_1_more span{font-family:"宋体"}
.txt_1 a{color: #7e7e7e;display: block;float: right;transition:color 0.5s;}
.txt_1 a:hover{text-decoration: none;color:red}
.txt_1 p{padding: 0;float: left;}
.txt_2 p{line-height: 40px;}
.txt_2{padding-left: 20px;margin-top:18px}
.txt_2 a{color: #000000;display:inline-block;transition:color 0.5s;}
.txt_2 a:hover{color: #2196f3;text-decoration: none;}
.fengyun{overflow: hidden;width: 100%}
.fengyun div{float: left;overflow: hidden;width: 100%;text-align: center;padding: 10px 0;}
.fengyun div p{float: left;width: 33.33%;margin:0;line-height:30px;}
.fengyun .ranking_icon{background:center 7px no-repeat url(../images/index/ranking_icon.png);color:white;font-weight:bold;}

/*机构切换图*/
#org{padding:0;width:1200px;margin-top:35px;}
.content_3{overflow:hidden;margin-bottom:22px;}
.cha_top{padding-left:24px;}
.cha_top dl{overflow:Hidden;}
.cha_top dl dd{width:104px;height:38px;line-height:38px;float:left;font-size:24px;color:#2196f3;text-align:left;margin-right:20px;transition:border-bottom-color 0.5s;}
.cha_top dl dd:hover{border-bottom:solid 2px #2196f3;cursor:pointer;border-bottom-color:#69BAFB;}
.cha_top .cha_first_dd{border-bottom:solid 2px #2196f3;}
.cha_bottom_box{overflow:Hidden;height:261px;background:white;}
.cha_bottom{width:1112px;margin:0 auto;overflow:hidden;margin-top:16px;}
.cha_bottom p{overflow:hidden;margin-bottom:27px;}
.cha_bottom p a{float:left;display:block;width:242px;height:58px;background:left top no-repeat url(../images/index/cooperation.png);border:solid 1px white;transition:opacity 0.8s;}
.cha_bottom p a:hover{cursor:pointer;opacity:0.6;}
.cha_bottom .lkl{width:171px;background-position:-322px top;margin-left:80px;}
.cha_bottom .llzf{width:233px;background-position:-614px top;margin-left:121px;}
.cha_bottom .ymd{width:150px;background-position:-948px top;margin-left:94px;}
.cha_bottom .yyt{width:175px;background-position:left -87px;}
.cha_bottom .wdzg{width:226px;background-position:-281px -87px;margin-left:118px;}
.cha_bottom .ztzf{width:206px;background-position:-634px -87px;margin-left:115px;}
.cha_bottom .wdty{width:172px;background-position:right -87px;margin-left:92px;}
.cha_bottom .jhwy{width:188px;background-position:left -161px;}
.cha_bottom .whdb{width:189px;background-position:-331px -161px;margin-left:143px;}
.cha_bottom .hlw{width:316px;background-position:-624px -161px;margin-left:107px;}
.cha_madie{overflow:hidden;margin-bottom:27px;}
.cha_madie a{float:left;display:block;width:130px;height:58px;background:left -256px no-repeat url(../images/index/cooperation.png);border:solid 1px white;margin-left:64px;transition:opacity 0.8s;}
.cha_madie a:hover{cursor:pointer;opacity:0.6;}
.cha_madie .cctv{margin-left:0px}
.cha_madie .hex{background-position:-196px -256px}
.cha_madie .fenghw{background-position:-392px -256px}
.cha_madie .xinl{background-position:-588px -256px}
.cha_madie .suohu{background-position:-784px -256px}
.cha_madie .wangy{background-position:-983px -256px}
.cha_madie .tengxw{margin-left:0px;background-position:left -342px}
.cha_madie .xinhw{background-position:-196px -342px}
.cha_madie .mrxw{background-position:-392px -342px}
.cha_madie .jinrj{background-position:-588px -342px}
.cha_madie .zgkjw{background-position:-784px -342px}
.cha_madie .eycn{background-position:-983px -342px}

/*行业资讯*/
.dongtai{overflow: hidden;margin-top: 20px;}
.dongtai div{float: left;overflow: hidden;}
.dongtai_text{margin-left: 30px;}
.dongtai div a{display: block;color: #949494;line-height: 30px;}
.first_a a{position:relative;width:192px;height:122px;overflow:hidden;display:block;cursor:pointer;}
.first_a  p{position:absolute;left:0;bottom:-36px;margin:0;height:36px;line-height:36px;background:rgba(0,0,0,0.4);color:white;font-size:12px;text-align:center;cursor:pointer;transition: color 0.5s;}
.first_a  p:hover{color:gray;}
.mess_text{margin-left: 0;padding-left:25px;}
.mess_text a:hover{color: #2196f3;transition: color 0.5s;}

.zixun{overflow: hidden;}
/*线条*/
.a_line{width: 100%;height: 1px;background: #cccccc;margin-top: 30px;margin-bottom: 15px;}


/*右边固定框*/ 
.right_sever_box {height: 222px;position: fixed;z-index: 999;right: 0;top:60%;}
.right_sever_box .shown_box{height: 222px;}
.right_sever_box a{background: no-repeat url("../images/index/float_frame.png");overflow:hidden;transition: all 0.8s;position: relative;width: 48px;height: 48px;display: block;margin-top:10px;position:relative;z-index:1;}
.right_sever_box a:hover{background:white}
.right_sever_box a:hover span{bottom:0;}
.right_sever_box a span{display:block;width:100%;height:100%;transition: all 0.6s;position: absolute;left:0;bottom:-100%;z-index: 2;background:left top url("../images/index/float_frame.png");}
.right_sever_box .zx{background-position: left top;}
.right_sever_box .zx span{background-position:-48px top;}
.right_sever_box .hp{background-position: left -58px;}
.right_sever_box .hp span{background-position:-48px -58px;}
.right_sever_box .jx{background-position: left -116px;}
.right_sever_box .jx span{background-position:-48px -116px;}
.right_sever_box .fd{background-position: left -174px;}
.right_sever_box .fd span{background-position:-48px -174px;}
