/*资费说明--广告图*/
.state_head{}
.state_content{width:1200px;padding:20px 0 100px;}
.state_content .line{margin-bottom:66px;}
.state_content .line h2{font-size:20px;color:#fe830e;}
.state_content .line p{font-size:16px;color:#909090;}
.line-p1{line-height:58px;}
.line-p2{margin-top:20px;margin-bottom:24px;}
.line-p3{line-height:24px;}
.line-p4{margin-left:25px;}