
.invest_title_text,.invest_option{-moz-user-select:none; -webkit-user-select:none;-ms-user-select:none;-o-user-select:none;}
/*您的位置*/
	.invest_place{width:1200px;margin:0 auto;height:44px;line-height:44px;overflow:hidden;font-size:14px;}
		.invest_place a{float:left;color:#323232;cursor:pointer;transition:color 0.5s;}
		.invest_place a:hover{color:#2196F3;}
		.invest_place span{float:left;color:#727272}
		.invest_place .inv_loca{margin-right:16px;}
		.invest_place .inv_gap{margin:0 8px;font-family:"宋体";}
/* 预期年化收益 */
#inv_box{padding:0;width:1200px;}
	.invest_option{border:solid 1px #dddddd;}
		.invest_option_main{overflow:hidden;border-bottom:dashed 1px #dddddd;}
			.invest_option_main span{width:100px;float:left;line-height:38px;text-align:right;}
			.invest_option_main dl{overflow:hidden;margin:0;}
			.om_color{color:#2196f3}
			.invest_option_main dl dd{float:left;padding-left:30px;line-height:38px;transition:color 0.5s;}
			.invest_option_main dl dd:hover{color:#2196f3;text-decoration:underline;cursor:pointer;}
	.invest_option .invest_option_main:last-child{border:none;} 
/* 广告图 */
.inv_ad_pic{height:64px;background:center no-repeat url(../images/invest/among_banner.png);margin-top:14px;}
/* 投资标 */ 
.invest_sign{border:solid 1px #dddddd;border-bottom:none;margin-top:14px;overflow:hidden;margin-bottom:20px;}
	.invest_title_text{padding:0 46px;margin-top:20px;overflow:hidden;}
	.invest_title_text ul{overflow:hidden;list-style:none;margin:0;}
		.invest_title_text ul li{float:left;line-height:28px;padding:0 4px;margin-right:18px;border-radius:3px;color:white;background:#b5b5b5;cursor:pointer;}
		.invest_title_text ul li span:hover{text-decoration:underline;}
			.invest_title_text ul li span{float:left;}
			.invest_title_text ul li i{float:right;display:inline-block;width:5px;height:28px;margin-left:2px;background:right center no-repeat url(../images/invest/inv_arrows.png);}
		.invest_title_text .title_first_li{background:#2196f3;color:white;}
			.invest_title_text .color_arrows{background-position:right center}
			.invest_title_text .color_arrowsDown{background-position:left center}
			.invest_title_text .color_arrowsUp{background-position:-5px center}
	/*主要内容*/
	.invest_text_mait{list-style:none;margin:0;padding:0 100px;border-bottom:solid 1px #dddddd;}
		.invest_text_mait h4{font-size:16px;color:#404040;margin:22px 0;display:inline-block;}
		.invest_text_mait h4:hover{cursor:pointer;color:#2196f3;text-decoration:underline;}
		.invest_text_mait dl{margin:0;padding:0 12px;overflow:hidden;padding-bottom:46px;}
			.invest_text_mait dl dd{float:left;padding-right:75px;}
				.invest_text_mait #loan_money_dd{width:170px;padding:0;}
				.invest_text_mait dl dd p{margin:0;line-height:26px;color:black;}
				.invest_text_mait dl dd p:first-child{color:#989898;}
					.invest_text_mait #color_black{color:black;}
					.invest_text_mait .color_red{color:#ff5252;font-weight:bold;}
			/*投资读取条*/
			.invest_text_mait #invest_last_dd{padding:0;}
			.invest_read{overflow:hidden;line-height:26px;}
				.invest_read p{width:100px;height:6px;background:#eaeaea;float:left;position:relative;overflow:hidden;}
				.invest_read #blue_read{margin-top:11px;border-radius:3px;}
					.invest_read p i{display:inline-block;height:6px;position:absolute;width:20%;background:#2196f3;}
				.invest_read span{float:left;font-size:14px;color:#141010;width:36px;text-align:right;}
			.invest_text_mait #invest_last_dd a{width:100%;display:block;text-align:center;line-height:26px;background:#2196f3;color:white;border-radius:3px;transition:background-color 0.5s;}
			.invest_text_mait #invest_last_dd a:hover{cursor:pointer;background:#1976d2;text-decoration:none;}
