*zoom:1;
.container{zoom:1;width:1200px}
/*禁止被选中*/
.invest_site,.top_right,.int_butt{-moz-user-select:none; -ms-user-select:none;-ms-user-select:none;-o-user-select:none;}
/*您所在的位置*/
.invest_site{width:1200px;margin:0 auto;line-height:46px;font-size:14px;overflow:hidden;}
	.invest_site a{float:left;color:#323232;cursor:pointer;transition:color 0.5s;}
		.invest_site a:hover{color:#2196F3;}
		.invest_site span{display:inline-block;float:left;color:#727272}
			.invest_site .text_pos{margin-right:16px;}
			.invest_site .text_int{margin:0 4px;font-family:"宋体";line-height:49px;}
/*我要投资详细内容*/
#invest{padding:;width:1200px;}
/*top左框*/ 
.top_left{padding:0;border:solid 1px #1976d2;}
.top_left_title{overflow: hidden;background:#1976d2;line-height:42px;color:white;}
.top_left_title p{margin:0;font-size:16px;}
	.top_left_title p:first-child{float:left;padding-left:24px;}
		.top_left_title p:first-child span{padding-right:18px}
	.top_left_title p:last-child{float: right;padding-right:10px;}
		.top_left_title p:last-child span{font-size:14px;font-family:"宋体"}
.box_main_1{padding-top:42px;border-bottom:dashed 1px #d4d4d4;padding-bottom:24px;margin:0 14px;}
.box_main_1 div{text-align: center;}
	.box_main_1 div:first-child{text-align:left;padding-left:14px;}
	.box_main_1 div:nth-child(2){border:dashed 1px #b6b6b6;border-top:none;border-bottom:none;}
	.box_main_text p{margin:0;} 
		.box_main_text p:first-child{padding-bottom:6px;}
		.box_main_text .loan_money{color:#ff5252;}
		.box_main_text .expect_yield{color:#ff5252;}
			.box_main_text #kind_sign{font-size:26px}
			.box_main_text #kind_num{font-size:34px;font-weight:bold;}
.box_main_2{padding:6px 0 30px 0;}
	.main_2_left{overflow:hidden;padding-left:40px;}
		.main_2_left_box{height:36px;line-height:36px;}
		.main_2_left_box span{float:left;}
		.main_2_left_box i{float:left;}
	.main_2_left_box .red_read{float:left;width:60px;height:6px;background:#E7E7E7 ;position:relative;margin:0 10px;margin-top:15px;overflow:hidden;}
		.main_2_left_box .red_read i{width:90%;position:absolute;display:inline-block;height:6px;background:#ff5252;}
	.main_2_right{overflow:hidden;padding-right:48px;}
		.main_2_right div{float:right;}
		.main_2_right p{line-height:36px;margin:0;}
			.main_2_right p span{color:#ff5252;}
/*top右框*/
.top_right{text-align:center;padding:0px;padding-left:15px;}
	
	.top_right div{display:inline-block;text-align:left;margin:6px 0;}
	.top_right p{margin:0;line-height:30px;}
		.top_right p:first-child a{font-size:20px;color:#2196f3;line-height:28px;border:solid 1px #cbcbcb;padding:2px 6px;border-radius:2px;margin-left:10px;cursor:pointer;transition:color 0.5s}
		.top_right p:first-child a:hover{color:#1976D2;}
	.inv_money_1{width:100%;}
		.inv_money_1 span:first-child{float:left;display:block;line-height:29px;}
		.inv_money_1 span:last-child{float:left;display:inline-block;padding-right:26px;}
		.inv_money_1 #inv_ip{float:left;width:63%;height:28px;text-align:right;transition:border-color 0.8s;box-shadow:0 2px 4px #D8D8D8}
		.top_right .imm_inv{display:block;width:100%;text-align:center;line-height:42px;color:white;background:#2196f3;font-size:18px;border-radius:6px;transition:background 0.6s;margin-bottom:8px;}
		.top_right .imm_inv:hover{text-decoration:none;color:white;cursor:pointer;background:#1976D2;}
/*底部内容*/
	#cop_all{width:1200px;}
	.main_title{padding:0;}
		.main_title dl{overflow:hidden;margin:10px 0 -1px;border-left:solid 1px #cbcbcb;position:relative;z-index:1;}
			.main_title dl dd{float:left;padding:20px 30px;cursor:pointer;}
				.main_title .title_border{border:solid 1px #cbcbcb;border-left:none;}
				.main_title .title_first_dd{border-bottom:solid 1px white;border-top:solid 1px #1976D2}
	.main_matter{padding:0;border:solid 1px #cbcbcb;margin-bottom:30px;height:660px;}
		/* 内容1 */
		.matter_centre{padding:0 66px 60px;position:relative;display:none;}
		.centre_line{margin-top:64px;}
			.center_icon{background:left top no-repeat url(../images/invest/interior_bg.png);padding:0;}
				.matter_icon_1{height:54px}
				.matter_icon_2{height:56px;background-position:left -54px;}
				.matter_icon_3{height:44px;background-position:left -110px}
				.matter_icon_4{height:58px;background-position:left -154px}
			.center_text{padding:0;}
				.center_text h4{margin:0;margin-bottom:20px;}
				.center_text p{font-size:14px;text-align:justify;}
		/* 内容2 */
		.assure_line{margin-top:30px;}
		.matter_assure{padding:0;overflow:hidden;}
			.assure_left{width:4%;padding:0;background:-119px top no-repeat url(../images/invest/interior_bg.png);}
			.matter_assure .assure_icon_1{height:33px}
			.matter_assure .assure_icon_2{height:33px;background-position:-119px -33px;}
			.matter_assure .assure_icon_3{height:33px;background-position:-119px -66px;}
			.assure_right{padding:10px 0 0;font-size:16px;font-weight:bold;}
		.assure_line p{margin:12px 0 0;}
		.related_pic{overflow:hidden;margin-top:16px;}
			.related_pic a{float:left;width:120px;height:100px;border:solid 1px #a2a2a2;margin-left:10px;cursor:pointer;}
		/* 内容3 */
		.user_line{margin-top:28px;}
		.user_news{overflow:hidden;}
			.user_news_left{width:48px;background:-194px top no-repeat url(../images/invest/interior_bg.png);}
			.user_icon_1{height:42px;}
			.user_icon_2{height:32px;background-position:-194px -42px;margin-top:6px;}
			.user_news_right{padding-top:20px;}
		.user_line .user_form_1{width:60%;border:solid 1px #f0f0f0;border-bottom:none;margin-top:22px;}
		.user_line .user_form_1 tr td{width:33.33%;padding-left:18px;height:28px;line-height:28px;border-right:solid 1px #f0f0f0;border-bottom:solid 1px #f0f0f0;font-size:12px;color:#646464;}
		.user_line .user_form_2{width:72%;border:solid 1px #f0f0f0;border-bottom:none;margin-top:22px;}
		.user_line .user_form_2 tr td{width:20%;padding-left:18px;height:28px;line-height:28px;border-right:solid 1px #f0f0f0;border-bottom:solid 1px #f0f0f0;font-size:12px;color:#646464;text-align:center;}
		.user_line table span{color:#323232;}
		/*定位图*/
		.matter_centre .user_assessor{width:372px;height:186px;position:absolute;right:12%;top:0px;display:block;background:right -76px no-repeat url(../images/invest/interior_bg.png);}
		/* 内容4 */
		.inv_take{width:100%;border:solid 1px #f0f0f0;;border-bottom:none;margin-top:28px;}
			.inv_take #first_take_tr{height:42px;line-height:42px;color:#646464;}
			.inv_take tr td{width:16.66%;height:28px;line-height:28px;text-align:center;border-right:solid 1px #f0f0f0;border-bottom:solid 1px #f0f0f0;}
		/* 内容5 */
		.refund_line{width:100%;border:solid 1px #f0f0f0;;border-bottom:none;margin-top:28px;}
			.refund_line #first_refund_tr{height:42px;line-height:42px;color:#646464;}
			.refund_line tr td{width:20%;height:28px;line-height:28px;text-align:center;border-right:solid 1px #f0f0f0;border-bottom:solid 1px #f0f0f0;}
/*弹窗*/
.int_butt{width:100%;height:100%;position:fixed;z-index:9997;top:0px;left:0px;}
	/*内置box*/
	.butt_int_box{width:288px;height:302px;background:white;position:absolute;left:50%;top:50%;margin-left:-144px;margin-top:-144px;box-shadow:0 0 28px #6B6B6B;z-index:9999;border-radius:8px;}
	.butt_int_box:hover{box-shadow:0 0 34px black;}
		.int_box_top{width:88%;margin:0 auto;height:56px;line-height:56px;overflow:hidden;}
			.int_box_top span{display:block;font-size:14px;}
			.int_box_top .box_top_pro{float:left;color:#323232;}
			.int_box_top .box_top_close{float:right;width:13px;height:13px;background:right top no-repeat url(../images/invest/interior_bg.png);margin-top:23px;margin-right:2px;}
			.int_box_top .box_top_close:hover{cursor:pointer;box-shadow:0 0 4px black;}
		.int_box_bottom{width:94%;margin:0 auto;height:226px;margin-top:16px;overflow:Hidden;}
			.int_box_bottom p{line-height:42px;font-size:20px;color:#323232;text-indent:2em;}
			.int_box_bottom p span{color:#ff5252;}
			.bot_bottom_but{widtH:100%;height:44px;overflow:hidden;margin-top:34px;}
				.bot_bottom_but span{display:block;font-size:18px;border-radius:5px;width:126px;height:44px;line-height:44px;text-align:center;color:white;transition:background 0.5s;}
				.bot_bottom_but span:hover{cursor:pointer;background:#2196f3}
				.bot_bottom_but .int_but_left{float:left;background:#a2a2a2;}
				.bot_bottom_but .int_but_right{float:right;background:#2196f3;}
	/*黑色透明背景*/
	.black_opacity{width:100%;height:100%;background:rgba(0,0,0,0.8);position:absolute;left:0px;right:0px;z-index:9998} 


