.my_invest_content a,.acc_invest_nav li,.acc_invest_main .first_position i,.last_td a,.popup_close,.wait_li_right span{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;}
/*我的投资*/
.my_invest{padding:0;list-style:none;overflow:hidden;margin:42px 0;}
 .my_invest li{height:92px;line-height:92px;float:left;width:33.33%;text-align:center;border-right:dashed 1px #ddd;}
 .my_invest_content{display:inline-block;overflow:hidden;margin-top:18px}
 	.my_invest_content i{float:left;display:inline-block;width:20px;height:26px;background:right -466px no-repeat url(../images/account/acc_core_icon.png);margin-top:15px;}
 	.my_invest_text{float:left;display:inline-block;text-align:left;margin-left:14px;margin-right:12px;}
 		.my_invest_text p{line-height:28px;margin:0;font-size:16px;color:#313131;}
 		.invest_text_num {color:#ff5252 !important;font-weight:bold;}
 	.my_invest_content a{float:left;color:#a0a0a0;border:solid 1px #a0a0a0;border-radius:3px;line-height:25px;padding:0 6px;color:black;transition:background 0.5s;}
 	.my_invest_content a:hover{cursor:pointer;text-decoration:none;background:#E4E4E4;color:#3F3F3F}
 .last_invest_li{border:none !important;}
.invest_bottom{margin-top:10px;}
/*投资导航*/
.acc_invest_nav{padding:0;list-style:none;border-bottom:solid 1px #ddd;height:35px;line-height:34px;margin-top:34px;}
	.acc_invest_nav li{float:left;font-size:16px;padding:0 6px;margin-right:24px;cursor:pointer;transition:border-color 0.5s;color:#363636;}
	.acc_invest_nav .first_li{color:#2196f3;border-bottom:solid 1px #2196f3;}
/*投资内容*/
	.acc_invest_main{display:none;}
	.acc_invest_main p{margin-bottom:28px;}
	.acc_invest_main p span{color:#ff5252;font-weight:bold;}
	.acc_invest_main thead tr th{font-weight:normal;border-bottom-width:1px;line-height:23px;background:#2196f3;color:white;text-align:center;}
	.acc_invest_main table tr td{height:60px;line-height:60px;color:#303030;border:none;text-align:center;}
	.acc_invest_main .first_position{position:relative;}
		.acc_invest_main .first_position i{display:inline-block;height:16px;line-height:16px;position:absolute;left:26%;bottom:10%;overflow:hidden;}
		.acc_invest_main .first_position i em{display:block;width:30px;text-align:center;font-style:normal;font-size:12px;margin-right:6px;float:left;color:white;border-radius:2px;font-family:"宋体";}
		.acc_invest_main .pos_icon_red{background:#ff5252;}
		.acc_invest_main .pos_icon_blue{background:#2196f3;}
	.last_td{position:relative}
	.last_td a{display:block;line-height:20px;transition:color 0.5s;color:#161616;font-size:12px;}
	.last_td a:hover{cursor:pointer;text-decoration:none;color:#2196f3;}
	.tab_color{color:#ff5252 !important;font-weight:bold;}
/*回款详情--弹框*/
.popup_frame{max-width:500px;top:0px;left:-336px;display:block;}
	.popup_frame .popup_arrow{top:17px !important;}
	.popup_frame table thead tr th{border:none;line-height:normal;background:white;color:black;padding:0 16px;}
	.popup_frame tr td{height:auto !important;line-height:20px !important;padding: !important;}
.popup_frame .popup_text{color:#2196f3}
	/*关闭*/
	.popup_close{position:absolute;right:20px;top:5px;cursor:pointer;color:gray;transition:color 0.5s;}
	.popup_close:hover{color:#1e82d4;}
/*待收款明细*/
.wait_collection{padding:0;list-style:none;}
	.wait_collection li{display:block;line-height:38px;border:solid 1px #ddd;color:#363636;overflow:hidden;}
	.wait_collection .wait_top_li{width:129px;border-bottom:none;text-align:center;}
		/*left*/
		.wait_li_left{float:left;width:30%;box-sizing:border-box;}
			.wait_li_left label{margin:0;line-height:35px;text-align:right;font-weight:normal;}
		.time_box{margin:0;position:relative}
	/*至*/
	.wait_top{position:absolute;right:17px;top:0;line-height:34px;}
	/*提交*/
	.wait_li_left .time_but{position:absolute;right:28px;top:0;}
		/*right*/
		.wait_li_right{width:40%;float:right;text-align:right;}
			.wait_li_right span{margin-right:24px;color:#727272;cursor:pointer;transition:color 0.5s;}
			.wait_li_right span:hover{color:#2196f3;}
