.invest_site,#agree_but{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;}

	/*右边*/
	
		#user_details{padding-left:82px;margin-top:58px;}
			#user_details h4{font-family:"微软雅黑";font-size:16px;color:#user_details;font-weight:bold;}
		.details_skip{width:90%;padding:0;font-size:14px;font-family:"微软雅黑";margin-top:30px;margin-bottom:12px;}
		.details_skip span{cursor:pointer;float:left;display:inline-block;height:25px;line-height:25px;background:-155px top no-repeat url(../images/loan/acc_core_icon.png);padding-left:30px;text-align:left;margin-right:100px;}
		.details_skip .skip_icon_1{margin-left:8px;}
			.per_data{color:#1ccde7}
		.details_skip .skip_icon_2{background-position:-155px -25px;}
			.contact{color:#ff0101}
		.details_skip .skip_icon_3{background-position:-155px -50px;}
			.work_news{color:#fe722d}
		.details_skip .skip_icon_4{background-position:-155px -75px;}
			#fouse_news{background-position:-155px -100px;}
			.car_news{color:#ec990f}
		.details_skip .skip_icon_5{background-position:-155px -225px;margin:0;}
			.exa_take{color:#1976d2;}
			
	.fill_plan{width:90%;height:2px;background:#cbcbcb;clear:both;position:relative;}
	.fill_plan i{display:inline-block;width:8%;height:2px;background:#2196f3;position:absolute;}
	.fill_plan i span{display:inline-block;width:10px;height:10px;background:#2196f3;position:absolute;right:0;top:-4px;border-radius:20px;}
	.user_data{padding:0;list-style:none;margin:0;margin-left:70px;margin-top:24px;display:none;}	
	.user_data li{height:54px;line-height:54px;}
	.user_data li span{float:left;width:142px;text-align:right;padding-right:6px;}
	#bs{margin:0 14px}
	.user_data label{font-size:12px;color:#646464;margin:0;margin-right:18px;float:left;font-weight:normal;}

/*个人资料*/	

/* 所在地区 */
.area_place{float:left;cursor:pointer;}
	.area_place i{display:block;width:20px;height:20px;background:right top no-repeat url(../images/loan/acc_core_icon.png);float:left;margin-right:10px;margin-top:17px;}
	.area_place .true_icon{background-position:-274px top;}
/* 真实姓名 */
.per_from{width:30%;float:left;margin-top:10px;overflow:hidden;}
/*卡号*/
#clip_num{margin:0;display:none;}
#card_num{display:none;}
.card_num{display:none;}

/*地址*/
#select_but,#city_but,#neigh_but,#now_select_but,#now_city_but,#now_neigh_but,#Unit_add_but,#Unit_city_but,#Unit_neigh_but,#house_add_but,#house_city_but,#house_neigh_but{width:auto}
.dropdown-menu{overflow:auto;}
	#city_li,#neigh_li{height:240px;}
	#now_city_li,#now_neigh_li{height:240px;}
	#Unit_city_li,#Unit_neigh_li{height:240px;}
	#house_city_li,#house_neigh_li{height:240px;}
.dropdown-menu li{height:30px;line-height:30px;cursor:pointer;text-align:left;transition:background 0.5s;padding-left:10px}
.dropdown-menu li:hover{background:#509bdb;color:white;}
/*供养子女*/
#childred_box{width:5%;padding-left:0;padding-right:0;display:none;}
.childred_box{display:none}
.for_childred{outline:none;border:none;float:left;width:64%;height:20px;line-height:20px;text-align:right;}
	/*蓝色border*/
	.blue_border{border:solid 1px #66afe9;box-shadow: 0 0 4px #66afe9}	
/*贷款用途*/	
#loan_use{margin:0;margin-left:104px}
/* 贷款金额 */
#loan_money{width:25%;padding-left:0;padding-right:0;}
.for_money{outline:none;border:none;float:left;width:90%;height:20px;line-height:20px;text-align:right;}
/*有无推荐人*/
#referrer_name{margin:0;display:none;}
#referrer_text{display:none;}
.referrer_pro{display:none;}

/*获悉平台来源*/
#loan_use_1{margin-left:0px;}
#loan_use_2{width:16%;}	

/*联系方式*/

/*单位电话*/
#unit_mob_text{display:none;}
/*单位名称*/
#unit_name_text{display:none;}

/*工作信息*/

/*月均支出*/
#month_mean_pay{width:25%;padding-left:0;padding-right:0;}
/*车辆信息*/
/*月供还款*/
#month_offer_refund{width:25%;padding-left:0;padding-right:0;}
/*房产信息*/
/*房屋面积*/
#house_area{width:25%;padding-left:0;padding-right:0;}
#house_area input{width:85%;}
/*购买金额*/
#buy_sum{width:25%;padding-left:0;padding-right:0;}
/*房屋年限*/
#fix_years{width:25%;padding-left:0;padding-right:0;}
/*申请人申明*/
#proposer{max-width:100%;width:90%;display:block;top:38px;font-family:"微软雅黑";display:none;}
	#proposer p{margin:0;font-size:12px;color:#323232;line-height:22px;}
#agree_but{text-align:center;}
#proposer_text{-moz-user-select:auto;-webkit-user-select:auto;-ms-user-select:auto;-o-user-select:auto;}
/*保存并继续*/
.save_on{text-align:center;position:relative;margin-bottom:230px;}
.save_on button{display:inline-block;border:solid 1px #f0f0f0;background:#ed9c04;color:white;transition:background 0.5s;width:20%;line-height:38px;font-size:18px;font-family:"微软雅黑";outline:none;}
.save_on button:hover{background:#f9ac08;;color:white;}
	/*同意协议*/
#agree_deal{position:absolute;left:278px;top:-7px;}	
/*提示文字*/
#prompt_news{overflow:hidden;}
	#prompt_news i{float:left;display:inline-block;width:24px;height:24px;margin-top:15px;margin-left:10px;margin-right:5px;}
		.noraml_pro{background:right -21px no-repeat url(../images/loan/acc_core_icon.png);}
		.error_pro{background:right -45px no-repeat url(../images/loan/acc_core_icon.png);}
		.aright_pro{background:right -69px no-repeat url(../images/loan/acc_core_icon.png);}
		
	#prompt_text{width:auto;color:gray;font-size:12px;}
/*审核记录&资料上传*/
#verify_take{width:91%;font-family:"微软雅黑";}
	#verify_take tbody tr th{font-weight:normal}
	#verify_take_1 tbody tr th{font-weight:normal;}
	#verify_take_1 tr th,#verify_take_1 tr td{text-align:center;line-height:30px;}
		#verify_take_1 .first_th{width:22%;text-align:left;padding-left:20px;}
			#verify_take_1 .first_th img{margin-right:20px;}
		#verify_take_1 .last_type{width:24%;text-align:left;position:relative;}
			#verify_take_1 .mod_del{display:inline-block;position:absolute;right:5px;top:10px;display:none;z-index:999;}
				#verify_take_1 .mod_del i{font-style:normal;font-size:12px;margin-left:18px;color:#2196f3;transition:color 0.5s;}
				#verify_take_1 .mod_del i:hover{cursor:pointer;color:#1976D2}
				
	/*资料上传*/
	.file_up{position:relative;}
		.file_up input{width:14%;outline:none;line-height:30px;background:#44a3ef;background-image:repeating-linear-gradient(#44a3ef,#1c79d4);border:solid 1px #1976d2;border-radius:6px;color:white;padding-left:16px;}
		.file_up input:hover{background-image:repeating-linear-gradient(#44a3ef,#1763b0);}
			.file_up i{display:inline-block;width:21px;height:19px;background:right -186px no-repeat url(../images/loan/acc_core_icon.png);position:absolute;left:12px;top:17px;}
	
/*审批状态*/
#approve_state{width:10%;border:solid 1px white;border-bottom:solid 2px #ddd;position:relative;transition:border-color 0.5s;cursor:pointer;}
#approve_state:hover{border:solid 1px #cbcbcb;border-bottom:solid 2px #ddd;}
	.state_down{background:right -93px no-repeat url(../images/loan/acc_core_icon.png);}
	.state_top{background:right -130px no-repeat url(../images/loan/acc_core_icon.png);}
	/*审批状态--隐藏下拉*/
	.state_hide{width:85px;height:100px;position:absolute;left:-1px;top:36px;z-index:999;border:solid 1px #cbcbcb;border-top:none;background:white;display:none;}
		.state_hide p{padding-left:7px;margin:0;line-height:33px;font-size:12px;font-weight:normal;transition:background 0.5s;}
		.state_hide p:hover{background:#f5f5f5;}
		#hide_gray{color:#646464;}
		#hide_red{color:#ff5252;}
		#hide_blue{color:#2196f3;}
		
		
		
		
		
		
		
