	/*右边--top*/

		.details_rent{width:90%;padding:0;font-size:14px;font-family:"微软雅黑";margin-top:30px;margin-bottom:12px;}
		.details_rent span{cursor:pointer;float:left;display:inline-block;height:25px;line-height:25px;background:-155px top no-repeat url(../images/loan/acc_core_icon.png);padding-left:30px;text-align:left;margin-right:66px;}
		.details_rent .rent_icon_1{margin-left:8px;}
			.per_data{color:#1ccde7}
		.details_rent .rent_icon_2{background-position:-155px -25px;}
			.contact{color:#ff0101}
		.details_rent .rent_icon_3{background-position:-155px -50px;}
			.work_news{color:#fe722d}
		.details_rent .rent_icon_4{background-position:-155px -125px;}
			.car_news{color:#ec990f}
		.details_rent .rent_icon_5{background-position:-155px -200px;}
			.data_up{color:#03a9f4;}
		.details_rent .rent_icon_6{background-position:-155px -225px;margin:0;}
			.exa_take{color:#1976d2;}
	
/*资产信息*/

/*房屋类型*/
#fishing button{line-height:32px;border-radius:6px;outline:none;width:10%;background:white;border:solid 1px #cbcbcb;margin-right:50px;}
	#fishing .fishing_color{background:#44a3ef;background-image:repeating-linear-gradient(#44a3ef,#1c79d4);color:white;border:solid 1px #1976d2;}
#month_mean_pay{width:25%;padding-left:0;padding-right:0;}
/*车辆信息*/
/*月供还款*/
#month_offer_refund{width:25%;padding-left:0;padding-right:0;}
/*资产信息*/

/*购买时间*/
#but_time{width:25%;}
/*产权人*/
#pro_owner{width:25%}
/*房产地址*/
#house_pro_add{width:25%;}
/*房屋面积*/
#house_area{width:25%;padding-left:0;padding-right:0;}
#house_area input{width:85%;}
/*占地面积*/
#floor_area{width:25%;padding-left:0;padding-right:0;}
#floor_area input{width:85%;}
/*建筑面积*/
#build_area{width:25%;padding-left:0;padding-right:0;}
#build_area input{width:85%;}
/*目前价值*/
#house_cost{width:25%;padding-left:0;padding-right:0;}
/*购买金额*/
#buy_sum{width:25%;padding-left:0;padding-right:0;}
/*房屋年限*/
#fix_years{width:25%;padding-left:0;padding-right:0;}
/*租凭年限*/
#rental_years{width:25%;padding-left:0;padding-right:0;}
/*月租金收入*/
#month_rent_income{width:25%;padding-left:0;padding-right:0;}
/*商品房&自建房*/
.own_build{display:none}

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	
