/*取消选中*/
.welcome_you .welcome_right,.regist_text,.prompt,.margin_below label,.forget_password a{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;}
body{background:#f3f3f3;}
/*注册盒子*/
.login_box{width:1200px;padding:0;height:auto;background:white;margin-top:2%;border-radius:4px;box-shadow:4px 6px 16px #CFCFCF;border: 1px solid #E4E3E3;}
/*登录盒子*/
.regist_box{}
/*欢迎您*/
.welcome_you{line-height:54px;margin-top:10px;}
.welcome_you p{height:54px;line-height:54px;margin:0;background:left center no-repeat url(../images/login&register/welcome_you_pic.png);border-bottom:solid 1px #ddd;}
.welcome_you .welcome_right{float:right;padding-right:0;text-align:right;font-size:18px;color:#909090;}
.welcome_you .welcome_right a{color:#2196f3;}
.welcome_you .welcome_right a:hover{cursor:pointer;color:#2196f3;}
/*注册大背景*/
.pic_login{height:566px;background:center no-repeat url(../images/login&register/welcome_you_img.png)}
/*登录大背景*/
.pic_register{height:456px;background:center no-repeat url(../images/login&register/welcome_you_img2.png);}
/*注册输入*/
.input_login_box{float:right;margin-bottom:30px;}
.input_login{width:86%;padding:26px 0;border:solid 1px #ddd;}
.input_login_inside{width:79%;padding:0;}
.input_login_inside p{margin:0;height:20px;line-height:20px;text-indent:1em;}
.margin_below{width:100%;height:38px;line-height:38px;margin-bottom:20px !important;position:relative;}
.hide_margin{margin:0 !important;}
/*提示框*/
.prompt{margin:0; display: block;transition:left 0.5s;}
.prompt_content{padding:0 !important;margin:9px 14px;max-height:22px;overflow:hidden;}
/*同意协议*/
.margin_below label{margin:0;cursor:pointer;}
.margin_below i{float:left;display:inline-block;width:14px;height:14px;background:left bottom no-repeat url(../images/login&register/input_icon.png);margin-top:4.4%;margin-right:4px;transition:background 0.3s;}
.margin_below .agree_true{background-position:right bottom;}
.margin_below span{float:left;}

.width_100{width:100%;}
.width_100 .input_icon1{width:36.5px;background:white left top no-repeat url(../images/login&register/input_icon.png);transition:border-color 0.5s;}
.width_100 .input_icon2{background-position:left -38px;}
.width_100 .input_icon3{background-position:left -76px;}
.width_100 .input_icon4{background-position:left -114px;}
.width_100 .input_icon5{background-position:left -152px;}
.input_content{height:38px;line-height:38px;border-left:none;transition:border-color 0.5s;}
.input_content:focus{outline:none;box-shadow:none;border-color:#ccc;}
.margin_below .blue_color{border-color:#2196f3 !important;}
.margin_below .red_color{border-color:#ff5252 !important;}
/*免费登录*/
.regist_text{border-bottom:solid 1px #ccc;position:relative;}
.regist_text span{font-size:18px;color:#2196f3;position:absolute;left:0px;top:0;height:38px;border-bottom:solid 1px #2196f3;}

/*验证码*/
.auth_code{float:right;line-height:24px;}
/*登录按钮*/
.login_but{border-radius:0px;}
/*更改颜色*/
.change_color{background:#2196f3;border:0 !important;transition:background 0.5s;}
.change_color:focus{outline:none !important;background:#1764a3 !important;}
.change_color:hover{background:#1e83d6 !important;}
/*忘记密码*/
.forget_password{text-align:right;} 
.forget_password a{font-size:12px;color:#2196f3;transition:color 0.5s;}
.forget_password a:hover{cursor:pointer;text-decoration:none;color:#1e83d6;}
/*页脚*/
.register_pic{width:100%;margin-top:40px;position:relative;}
.login_footer{width:100%;height:40px;line-height:40px;max-height:42px;overflow:hidden;background:#646464;text-align:center;position:fixed;left:0;bottom:0;z-index:9999;}
.login_footer span{color:white;} 
.register_footer{position:static;box-shadow:0 8px 6px #4a4a4a inset}
/*立即下载*/
.download_but{position:absolute;left:56%;top:15px;}
.download_but a{display:block}
.download_but button{padding-left:30px;padding-right:30px;}
