/*去除轮廓线*/ 
a:focus,.btn:focus,input:focus,input[type=checkbox]:focus,input[type=submit]:focus {outline: none !important;text-decoration: none !important;}

* { margin: 0; padding: 0 }
a { text-decoration: none; color: gray }
input { border: none } 
body { font-family: "微软雅黑"; position: relative }
 
[class ^= "re-c"] { background-color: white }
.width-1200 { width: 1200px; transition: width .5s }
.inline-block { display: inline-block }
.float-left { float: left }
.re-bg { width: 100%; height: 100%; background: url(../images/ltlh/register-bg.jpg) center/cover no-repeat; position: fixed; left: 0; top: 0; z-index: 1 }
.detail { width: 100%; position:absolute; left: 0; top: 0; z-index: 2 }
/*register-head*/
.re-c-head { padding-bottom: 24px; height: 106px }
.re-c-head > div { border-bottom: solid 2px #f4f4f4; overflow: hidden }
.re-c-head .head-content { margin: 35px auto 0; padding-bottom: 10px; line-height: 47px; overflow: hidden }
.re-c-head .head-content > span i { float: left; margin: 12px 12px 0 0; font-style: normal; width: 26px; height: 26px; background: url(../images/ltlh/ltlh-register-icon.png) left top }
.re-c-head .head-content > span:lang(left-span) { float: left }
.re-c-head .head-content > span:lang(right-span) { float: right; overflow: hidden }
.re-c-head .head-content > span:lang(right-span) em { margin: 0 8px; font-style: normal }
.re-c-head .head-content > span:lang(right-span) a { font-size: 20px; color: #555 }
/*register-content*/
.re-content { margin-top: 62px; background: none; text-align: center }
.re-content span:lang(c-left-span) { float: left; text-align: left }
.re-content span:lang(c-left-span) strong { line-height: 62px; font-size: 18px; color: white }
.re-content span:lang(c-left-span) p { margin-bottom: 36px; height: 38px; line-height: 38px }
.re-content span:lang(c-left-span) p:lang(last-p) { margin-bottom: 10px }
.re-content span:lang(c-left-span) p label { width: 96px; text-align: right; color: white }
.re-content span:lang(c-left-span) p label + span { position: relative }
.re-content span:lang(c-left-span) p label:before { display: inline-block; content: "*"; color: red }
.re-content span:lang(c-left-span) p input[ type= text ] { padding-left:5px; width: 257px; height: 34px; border: solid 2px white; border-radius: 3px; transition: all .5s }
.re-content span:lang(c-left-span) p input:focus { border: solid 2px #60acd3 }
.re-content span:lang(c-left-span) .register-test-pic input { width: 102px !important }
.re-content span:lang(c-left-span) .register-test-pic img { margin: 3px 6px 0; cursor: pointer }
.re-content span:lang(c-left-span) .register-test-pic em { font-style: normal; font-size: 12px; color: white; cursor: pointer }
.re-content span:lang(c-left-span) span:lang(read) { margin-left: 95px }
.re-content span:lang(c-left-span) span:lang(read) input { margin: 14px 8px 0 0 }
.re-content span:lang(c-left-span) span:lang(read) a { font-size: 12px; color: #666; cursor: pointer }
.re-content span:lang(c-left-span) span:lang(read) em { font-style: normal; color: #ff6600 }
.re-content span:lang(c-left-span) form > input { margin-left: 95px; width: 266px; line-height: 36px; border-radius: 3px; font-size: 20px; color: white; background-color: #036178; cursor: pointer; transition: all .5s }
.re-content span:lang(c-left-span) form > input:hover { background-color: #097F9C }
.re-content span:lang(c-left-span) form > input:focus { background-color: #065A6F } 
.re-content span:lang(c-right-span) { float: right; margin-left: 188px; padding-left: 40px; height: 466px; border-left: solid 2px #777; text-align: left; font-size: 14px; color: white }
.re-content span:lang(c-right-span) > p:lang(user-margin) { margin-bottom: 28px }
.re-content span:lang(c-right-span) > p:lang(user-margin) a { margin-left: 6px; width: 100px; line-height: 36px; text-align: center; background-color: #2c788a; border-radius: 3px; color: white; letter-spacing: 2px; transition: all .5s }
.re-content span:lang(c-right-span) > p:lang(user-margin) a:hover { background-color: #26a0bd }
.re-content span:lang(c-right-span) > p:lang(user-margin) a:focus { background-color: #16859f }
.re-content span:lang(c-right-span) > p:lang(user-link) { padding: 10px 0 0 74px; }
.re-content span:lang(c-right-span) > p:lang(user-link) a { margin-right: 36px; width: 45px; text-align: center; color: white; font-weight: bold }
.re-content span:lang(c-right-span) > p:lang(user-link) i { width: 45px; height: 46px }
.re-content span:lang(c-right-span) .user-icon-1 { background: url(../images/ltlh/ltlh-register-icon.png) left -26px }
.re-content span:lang(c-right-span) .user-icon-2 { background: url(../images/ltlh/ltlh-register-icon.png) left -71px no-repeat }
	/*register-content-text*/
	.re-content .checking-span { width: 332px; position: absolute; left: 0; bottom: -34px; font-size: 12px; color: #1c3e56 }
	.re-content .checking-icon { display: inline-block; width: 15px; height: 16px; position: absolute; right: -28px; top: 12px } 
	.re-content .chacking-icon-1 { background: url(../images/ltlh/ltlh-register-icon.png) -41px top }
	.re-content .chacking-icon-2 { background: url(../images/ltlh/ltlh-register-icon.png) -26px top }
/*register-foot*/
.re-c-footer { position: fixed; left: 0; bottom: 0; width: 100%; height: 84px; line-height: 84px; text-align: center }
.re-c-footer > span { overflow: hidden; font-size: 12px; color: #999 }
.re-c-footer > span a { display: inline-block; margin-right: 5px; color: #4c4c4c }
@media only screen and (max-width: 1200px) {
	.width-1200 { width: 1000px }
}