.get_state p,.get_state{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;}
/*我的红包*/
.my_red_packet_box{overflow:hidden;background:#f5f5f5;border-bottom:solid 1px #ddd;}
.my_red_packet{overflow:hidden;line-height:48px;}
	.my_red_packet span{float:left;font-size:20px;color:#2196f3;font-weight:bold;}
	.red_packet_notice{float:right;}
		.red_packet_notice i{float:left;display:inline-block;width:18px;height:18px;background:center no-repeat url(../images/convert-manage/red_packet_icon.png);margin-top:16px;margin-right:16px;}
		.notice_content{float:left;}
		.notice_content p{margin:0;}
/*红包查询*/
.backet_query{height:34px;line-height:34px;margin-top:28px;}
.backet_query span{float:left;color:#323232;}
/*下拉选项*/
.pull{width:20%;float:left;margin-right:24px;} 
	.pull_center{outline:none;width:86%;text-align:right;padding-right:12px;text-align:center;}
	.pull_center:focus{outline:none;}
	.pull_center:active{outline:none;}
	
	.pull_menu{right:0;margin:0 !important;height:154px !important;overflow:auto !important;}
		.pull_menu li{line-height:30px !important;height:30px;padding-left:10px;cursor:pointer;transition:background 0.5s;}
		.pull_menu li:hover{background:#509bdb;color:white;}
/*小箭头*/ 
.arrows{height:34px;} 
#arrows{width:0;height:0;padding:0;margin:0;}	
.per_from{width:20%;float:left;overflow:hidden;} 
/*红包--时间*/
.packet_time{float:left;}
	.packet_time input{float:left !important;width:85% !important;}
	.packet_time span{float:left !important;padding-bottom:12px !important;width:15% !important;}
/*查询按钮*/
.query_but{float:left;margin-left:16px;}
/*红包信息小提示*/
.backet_text{color:#313131;margin-top:22px;margin-bottom:44px;}
/*红包表格*/
.red_packet{border:solid 1px #ddd;}
	.red_packet thead tr th{border-bottom-width:1px;text-align:center;}
	.red_packet tr td{line-height:54px !important;text-align:center;}
	.get_state{position:relative;cursor:pointer;}
	.get_state p{cursor:pointer;margin:0;transition:color 0.5s;}
	.get_state p:hover{color:red;}
	.get_state .last_p{margin-top:10px;}
.get_state_inbox{display:none;left:20%;top:25px}
