/*重置*/
/* CSS Document */
* {box-sizing: border-box;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/1.5 "微软雅黑",Helvetica Neue,Helvetica,Hiragino Sans GB,tahoma,arial,sans-serif;
    color:#474747;
    background: #f3f3f3;
} 
input,lable,select,option,textarea,button,fieldset,legend{ font-family: "微软雅黑", Arial, sans-serif;margin: 0;}
input{vertical-align:middle; border:1px solid #999999; line-height: normal;padding-left:5px;}
ul,li{ list-style-type:none;} 
a {text-decoration:none;}
 
img{display: block; border:0;}
content , portrait {
	display: block;
	margin: 0 auto;
	width: 1000px;
	height: auto;
	background-color: white;
}
grade , plan {
	display: inline-block;
	float: left;
}
content > article {
	overflow: hidden;
}
content > article:lang(account) {
	margin: 20px 0;
}
content > article:lang(account) > div {
	float: left;
	width: 50%;
	text-align: center;
}
content > article:lang(account) > div > div {
	display: inline-block;
	line-height: 66px;
}
/*left*/
content > article .accountName {
	
}
content > article .accountName portrait { 
	margin-right: 30px;
	position: relative;
	float: left;
	width: 66px;
	height: 66px; 
	border-radius: 100%;
	overflow: hidden;
} 
content > article .accountName portrait em { 
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: cornflowerblue;
}
content > article .accountName portrait em img {
	width: 100%;
	height: 100%;
}
content > article .accountName span {
	font-size: 16px;
	color: #646464;
}
content > article .accountName span em {
	display: inline-block;
	font-style: normal;
	color: #2196f3;
}
/*right*/
content .grade {
	display: inline-block;
	
}
content .grade grade {
	padding-left: 25px;
	color: #2196f3;
}
content .grade grade::before {
	display: inline-block;
	float: left;
	content: "我的等级："; 
	font-size: 16px;
	color: #646464;
}
content .grade grade i {
	margin: 24px 6px 0 0;
	float: left;
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url(../images/vip/vip_gradeIcon2.png) no-repeat;
}
content .grade plan {
	position: relative;
	margin:26px 0 0 10px;
	width: 86px;
	height: 14px;
	background-color: white;
	border: solid 1px #2196f3;
}
content .grade plan > div {
	position: relative;
	z-index: 2;
	float: left;
	width: 25%;
	height: 100%;
	border-right: solid 1px #2196f3;
}
content .grade plan > div:lang(last) {  
	border-right: none;
}
content .grade plan i {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 50%;
	height: 12px;
	background-color: rgb(88, 171, 252);
	z-index: 1;
}
/*会员特权*/
content .vip_nav {
	position: relative;
	height: 48px;
	line-height: 48px;
	border-top: solid 1px #cbcbcb; 
}
content .vip_nav > div {
	float: left;
	width: 15%;
	font-size: 16px;
	color: #646464;
	border-right: solid 1px #cbcbcb;
	border-bottom: solid 1px #cbcbcb;
	text-align: center;
	cursor: pointer;
} 
content .vip_nav > p {
	position: absolute;
	right: 0;
	float: right;
	width: 69.9%;
	height: 48px; 
	border-bottom: solid 1px #cbcbcb;
}
content .vip_blue {
	color: #2196f3 !important;
	border-bottom-color: white !important;
}
content .vip_content {
	padding: 98px 50px 86px;
}
content .vip_content > ul {
	overflow: hidden;
}
content .Show {
	display: none;
}
content .vip_content > ul li {
	margin-bottom: 80px;
	float: left;
	width: 50%;
}
content .vip_content > ul li:lang(rightLi) {
	text-align: right;
} 
content .vip_content > ul li:lang(rightLi) > div {
	max-width: 385px;
	text-align: left;
}
content .vip_content > ul li:lang(rightLi) > div > div {
	margin-top: 7px;
	float: right;
	width: 72%;
}
content .vip_content > ul li i {
	margin-right: 24px;
	float: left;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 100%; 
}
content .vipIcon1 {
	background: #87d2c0 url(../images/vip/vip-contentIcon.png) left top no-repeat;
} 
content .vipIcon2 {
	background-position: -80px top;
	background-color: #92cb7b;
}
content .vipIcon3 {
	background-position: -160px top;
	background-color: #80b9ed;
}
content .vipIcon4 {
	background-position: -240px top;
	background-color: #87d2c0;
}
content .vipIcon5 {
	background-position: left -80px;
	background-color: #ecb64b;
}
content .vipIcon6 {
	background-position: -80px -80px ;
	background-color: #80b9ed;
}
content .vipIcon7 {
	background-position: -160px -80px;
	background-color: #a8a2dc;
}
content .vipIcon8 {
	background-position: -240px -80px;
	background-color: #ecb64b;
}  
content .vip_content > ul li > div {  
	display: inline-block;
	font-size: 14px;
	color: #909090;
}  
content .vip_content > ul li > div em {
	font-size: 16px;
	font-style: normal;
	color: #646464;
	
}
content .vip_content > ul li > div:lang(leftLi) {
	width: 62%;
	margin-top: 7px;
} 
