* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "微软雅黑";
	font-size: 62.5%;
	/* 10÷16=62.5% */
}

@media only screen and (min-width: 321px) {
	html {
		font-size: 67%!important;
		/* 10.72÷16=67% */
	}
}

@media only screen and (min-width: 401px) {
	html {
		font-size: 80%!important;
		/* 12.8÷16=80% */
	}
}

@media only screen and (min-width: 481px) {
	html {
		font-size: 94%!important;
		/* 15.04÷16=94% */
	}
}

@media only screen and (min-width: 561px) {
	html {
		font-size: 109%!important;
		/* 17.44÷16=109% */
	}
}

@media only screen and (min-width: 641px) {
	html {
		font-size: 125%!important;
		/* 20÷16=125% */
	}
}

@media only screen and (min-width: 641px) {
	article {
		max-width: 32rem;
	}
}

span,
prize,
dial-but,
pic-group,
pic-text,
picture,
close {
	display: block;
}

body {
	background-color: #fbf9a4;
}

article {
	margin: 0 auto;
}

article > span {
	margin: inherit;
}

.position-relative {
	position: relative;
}

article > span:lang(header) {
	width: 100%;
	height: 23.1rem;
	background: url(../images/sign-in-banner.jpg) center/cover;
}

article > span:lang(chance) {
	display: inline-block;
	position: absolute;
	width: 12rem;
	left: 50%;
	margin-left: -6rem;
	height: 1.7rem;
	line-height: 1.7rem;
	top: -3.5rem; 
	border-radius: .7rem;
	text-align: center;
	font-size: .9rem;
	background: #ffa729;
	color: #ffe8c7;
}

article > span:lang(chance) span {
	display: inline-block;
}

article > span:lang(dial) {
	width: 29.75rem;
	height: 29.75rem;
	background: url(../images/sign-rotate-bg.gif) center/cover;
	border-radius: 100%;
	box-shadow: 0px 5px 10px -5px black;
	position: relative;
	top: -1.5rem;
}

article > span:lang(dial) prize {
	width: 25.75rem;
	height: 25.75rem;
	background: url(../images/sign-rotate-prize.png) center/cover;
	position: absolute;
	left: 50%;
	margin-left: -12.875rem;
	top: 2rem;
}

article > span:lang(dial) dial-but {
	width: 6.15rem;
	height: 11.5rem;
	background: url(../images/sign-rotate-pointer.png) center/cover no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -3.075rem;
	top: 9.1rem;
}

article > span:lang(log) {
	overflow: hidden;
	width: 27.5rem;
	height: 30.05rem;
	background: url(../images/sign-take-notes.png) center/cover;
}

article > span:lang(log) > span {
	overflow: inherit;
	margin: 6.5rem auto 0;
	width: 22.6rem;
	height: 22.05rem;
	position: relative;
}

article > span:lang(log) ul {
	position: absolute;
	left: 0;
	top: 0;
}

article > span:lang(log) ul li {
	padding: 0.725rem 0;
	border-top: solid 1px #df530c;
}

article > span:lang(log) ul li em {
	font-style: normal;
	display: inline-block;
	font-weight: bold;
	color: #df530c;
	float: left;
}

article > span:lang(log) ul li em:lang(log-left) {
	width: 6.5rem;
	text-align: left;
}

article > span:lang(log) ul li em:lang(log-right) {
	margin-left: 6.6rem;
}

article > span:lang(footer) {
	margin-top: 3.5rem;
	padding-top: 3rem;
	width: 27.95rem;
	background: url(../images/sign-take-scope-title.png) center top/contain no-repeat;
	text-align: center;
	color: #df530c;
}

article > span:lang(footer) p {
	line-height: 1.8rem;
	font-size: .97rem;
	text-align: left;
}

article > span:lang(footer) p gap {
	margin-left: 1.5rem;
}

article > span:lang(footer) img {
	max-width: 100%;
	height: auto;
	margin: .5rem auto;
}

article > span:lang(footer) span {
	font-size: 1rem;
	text-align: left;
}

article > span:lang(footer) ps {
	margin-top: 4.5rem;
	line-height: 4.5rem;
	display: inline-block;
	font-size: .9rem;
}

article.fixed {
	position: fixed;
	left: 0;
	top: 0;
	max-width: 100%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: none;
}

article.fixed > span {
	position: absolute;
	left: 50%;
	margin-left: -16rem;
	top: 0;
	width: 32rem;
}

article > span:lang(gain-prize) {
	height: 46.1rem;
	background: url(../images/sign-rotate-prize-rewardBg.png) center/cover;
}

article > span:lang(gain-prize) pic-group {
	margin: 20.5rem auto 0;
	width: 19.7rem;
	height: 18.2rem;
	text-align: center;
} 

article > span:lang(gain-prize) pic-group > span {
	font-size: 1rem;
	color: #884d00;
}

article > span:lang(gain-prize) pic-group pic-text {
	font-size: 1.6rem;
	color: #ff0026;
}

article > span:lang(gain-prize) pic-group pic-text span {
	display: inline-block;
}

article > span:lang(gain-prize) pic-group picture {
	margin: .5rem auto;
}

article > span:lang(gain-prize) close {
	width: 17.6rem;
	height: 3.95rem;
	position: absolute;
	left: 7.3rem;
	bottom: .9rem;
}

article > span:lang(sign) {
	height: 30.6rem;
	background: url(../images/sign-rotate-prize-reward-prompt.png) center/cover;
	top: 50%;
	margin-top: -15.3rem;
}

article > span:lang(sign) close {
	width: 14.85rem;
	height: 3.8rem;
	position: absolute;
	left: 8.3rem;
	bottom: 1.2rem;
}

article .hide,.redPack,.millet,.integral {
	display: none;
}

article .experience {
	display: block;
} 

/*抽中css*/


/*现金劵*/

.prize-cash {
	width: 11.15rem;
	height: 15.65rem;
}

.prize-cash-8 {
	background: url(../images/sign-rotate-prize-reward-cash-8.png) center/cover;
}

.prize-cash-10 {
	background: url(../images/sign-rotate-prize-reward-cash-10.png) center/cover;
}

.prize-cash-20 {
	background: url(../images/sign-rotate-prize-reward-cash-20.png) center/cover;
}


/*体验金*/

.prize-experience-1k {
	background: url(../images/sign-rotate-prize-reward-experience-1k.png) center/cover;
}

.prize-experience-5k {
	background: url(../images/sign-rotate-prize-reward-experience-5k.png) center/cover;
} 


/*红包*/

.prize-redPack {
	width: 11.05rem;
	height: 15.4rem;
}

.prize-redPack-2 {
	background: url(../images/sign-rotate-prize-reward-redPack-2.png) center/cover;
}

.prize-redPack-10 {
	background: url(../images/sign-rotate-prize-reward-redPack-10.png) center/cover;
}

/*会员积分*/

.prize-integral {
	width: 15.35rem;
	height: 15.35rem;
}

.prize-integral-100 {
	background: url(../images/sign-rotate-prize-reward-integral-100.png) center/cover;	
}

.prize-integral-200 {
	background: url(../images/sign-rotate-prize-reward-integral-200.png) center/cover;		
}

/*充电宝*/

.prize-millet {
	margin: 3.5rem auto 0 !important;
	width: 19.7rem;
	height: 9.8rem;
	background: url(../images/sign-rotate-prize-reward-millet.png) center/cover;
}