header {
	display: flex;
	padding: 6% 5% 4%;
	background: #ff575f;
	align-items: center;
}

header i {
	display: inline-block;
	width: 24px;
	height: 42px;
	background: left top no-repeat url("../images/tiny-icon.png");
	float: left;
}

header div {
	width: 100%;
	text-align: right;
}

header span {
	display: inline-block;
	width: 72px;
	height: 72px;
	background: white -48px top no-repeat url("../images/tiny-icon.png");
	border-radius: 100%;
	margin-left: 1.7em;
}

header span:nth-child(2) {
	background-position: -120px top;
}

header .addMenber-icon{
	background-position: -192px top;
}

footer section {
	width: 100%;
	max-height: 392px;
	background: center top / cover no-repeat url("../images/tiny_bg.jpg");
	text-align: center;
	position: relative;
}

footer div {
	width: 100%;
	display: inline-block;
	color: white;
	text-shadow: 3px 0 1px black;
}

footer div:nth-child(1) {
	width: 201px;
	height: 201px;
	background: center no-repeat url("../images/tiny_figureCircle.png");
	border-radius: 100%;
	margin: 1.7em 0 0;
}

footer div:nth-child(1) i {
	display: inline-block;
	width: 185px;
	height: 184px;
	background: center no-repeat url("../images/tiny_figurePic1.jpg");
	border-radius: 100%;
	margin-top: 8px;
	overflow: hidden;
}

footer div:nth-child(2) {
	font-size: 4.2em;
}

footer div:nth-child(3) {
	font-size: 2.3em;
	margin-bottom: 1.2em;
}

footer section aside {
	position: absolute;
	right: 1.7em;
	bottom: 1.7em;
	width: 3.42em;
	height: 3.42em;
	background: left -223px no-repeat url("../images/tiny-icon.png");
}

footer article {
	width: 100%;
	max-height: 822px;
	background: #ebebeb;
	padding: 0 1.4em;
}

footer article form {
	position: relative;
	max-height: 822px;
	background: white;
	border-color: #cdcdcd !important;
	padding: 0 1.4em;
}

footer article ul {
	list-style: none;
	padding: 2% 0;
	border-bottom: solid 1px #cdcdcd;
	margin: 0;
}

footer article ul:nth-child(2) {
	position: relative;
}

footer .lastLi {
	border: none;
}

footer article ul li {
	position: relative;
	padding: .5em 0;
	font-size: 2.4em;
}

footer .liText {
	color: #969696;
	margin: 0 0 0 1.4em;
	padding-top: 0;
}

footer article ul li i {
	display: inline-block;
	position: absolute;
	left: 1%;
	top: 36%;
	width: 25px;
	height: 24px;
	background: no-repeat url(../images/tiny-icon.png);
}

footer .liIcon1 {
	background-position: left -72px;
}

footer .liIcon2 {
	background-position: -25px -72px;
}

footer .liIcon3 {
	background-position: -50px -72px;
}

footer .liIcon4 {
	background-position: -75px -72px;
}

footer .liIcon5 {
	background-position: -100px -72px;
}

footer .liIcon6 {
	background-position: -125px -72px;
}

footer article ul li p {
	margin: 0 0 0 1.4em;
}

footer article ul li p span {
	color: #969696;
}

 footer .divHome {
	position: absolute;
	right: 1.4em;
	bottom: 0;
	width: 128px;
	height: 128px;
	background: #fe575f left -96px no-repeat url("../images/tiny-icon.png");
	border-radius: 100%;
	transition: bottom 0.5s;
	z-index: 1;
}

@media only screen and (min-width:980px) {
	footer article ul {
		padding: 1% 0;
	}
	footer .divHome {
		bottom: 15%;
	}
}

@media only screen and (max-width: 980px) {
	header {
		padding: 3% 5% 2%;
	}
	
	footer article ul li {
		font-size: 1.5em;
	}
	
	footer .divHome {
		-webkit-transform: scale(.52);
		-ms-transform: scale(.52);
		transform: scale(.52);
		right: 0;
		bottom: 2%;
	}
	
	footer article ul li i {
		top: 26%;
	}
	
	footer article ul li p {
		margin: 0 0 0 1.8em;
	}
	
	footer .liText {
		margin: 0 0 0 1.8em;
	}
}

@media only screen and (max-width: 360px) {
	header span {
		margin-left: -2em;
		-webkit-transform: scale(.5);
		-ms-transform: scale(.5);
		transform: scale(.6);
	}
	
	footer article ul li {
		font-size: .9em;
	}
	
	footer article ul li p {
		margin: 0 0 0 2.8em;
	}
	
	footer .liText {
		margin: 0 0 0 2.8em;
	}
	
	footer article ul li i {
		top: 12%;
	}
	
	footer .divHome {
		right: -11%;
		bottom: 0;
	}
	
}

@media only screen and (max-width: 320px) {
	footer .divHome {
		-webkit-transform: scale(.38);
		-ms-transform: scale(.38);
		transform: scale(.38);
		right: -16%;
	}
}